In [1305]:
import re
import pandas as pd
import numpy as np
from scipy import stats

In [1306]:
data=pd.read_csv('attacks.csv',encoding='latin-1')

### Familiarize with DF

In [1307]:
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [1308]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
Case Number               8702 non-null object
Date                      6302 non-null object
Year                      6300 non-null float64
Type                      6298 non-null object
Country                   6252 non-null object
Area                      5847 non-null object
Location                  5762 non-null object
Activity                  5758 non-null object
Name                      6092 non-null object
Sex                       5737 non-null object
Age                       3471 non-null object
Injury                    6274 non-null object
Fatal (Y/N)               5763 non-null object
Time                      2948 non-null object
Species                   3464 non-null object
Investigator or Source    6285 non-null object
pdf                       6302 non-null object
href formula              6301 non-null object
href                      6302 non-null object
Case Number.1             6302 non-null object
Case Number.2             6302 non-null object
original order            6309 non-null float64
Unnamed: 22               1 non-null object
Unnamed: 23               2 non-null object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [1309]:
data.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [1310]:
#Fix column names with spaces
data.columns=[x.strip() for x in data.columns]

In [1311]:
data.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

### Remove useless/duplicated columns

In [1312]:
#check if values on Unnamed are of any before drop
data[(data['Unnamed: 22'].isnull()==False)|(data['Unnamed: 23'].isnull()==False)]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
1478,2006.05.27,27-May-2006,2006.0,Unprovoked,USA,Hawaii,"North Shore, O'ahu",Surfing,Bret Desmond,M,...,NaN,R. Collier,2006.05.27-Desmond.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2006.05.27,2006.05.27,4825.0,stopped here,NaN
4415,1952.03.30,30-Mar-1952,1952.0,Unprovoked,NETHERLANDS ANTILLES,Curacao,NaN,Went to aid of child being menaced by the shark,A.J. Eggink,M,...,"Bull shark, 2.7 m [9'] was captured & dragged ...","J. Randall, p.352 in Sharks & Survival; H.D. B...",1952.03.30-Eggink.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1952.03.30,1952.03.30,1888.0,NaN,Teramo
5840,1878.09.14.R,Reported 14-Sep-1878,1878.0,Provoked,USA,Connecticut,"Branford, New Haven County",Fishing,Captain Pattison,M,...,NaN,"St. Joseph Herald, 9/14/1878",1878.09.14.R-Pattison.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1878.09.14.R,1878.09.14.R,463.0,NaN,change filename

In [1313]:
data.drop(['Unnamed: 22','Unnamed: 23'],axis=1,inplace=True)

In [1314]:
#Find similar columns
similar=[]
for col1 in data.columns:
    similar.append([data[data[col1]!=data[col2]].count().max() for col2 in data.columns])
corr=pd.DataFrame(similar,columns=data.columns)
corr=corr.set_index(data.columns)
[[x,y] for y in corr.columns for x in corr.columns if x!=y and corr[x][y]<4000]

[['Case Number.1', 'Case Number'],
 ['Case Number.2', 'Case Number'],
 ['href', 'href formula'],
 ['href formula', 'href'],
 ['Case Number', 'Case Number.1'],
 ['Case Number.2', 'Case Number.1'],
 ['Case Number', 'Case Number.2'],
 ['Case Number.1', 'Case Number.2']]

In [1315]:
#Next lines used to compare columns
data[data['href']!=data['href formula']]['href'][50]

'http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2018.01.13-Stewart.pdf'

In [1316]:
data[data['href']!=data['href formula']]['href formula'][50]

'http://sharkattackfile.net/spreadsheets/pdf_directory/2018.01.13-Stewart.pdf'

In [1317]:
data[data['Case Number']!=data['Case Number.1']]['Case Number.1'][144]

'2017.06.06'

In [1318]:
#Passing values from Case Number.1 and Case Number.2 to Case Number before drop
for x in data[data['Case Number'].isnull()].index:
    data.set_value(x, 'Case Number', data['Case Number.1'].iloc[x])
for x in data[data['Case Number'].isnull()].index:
    data.set_value(x, 'Case Number', data['Case Number.2'].iloc[x])

C:\Users\Usuario_Asignado\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Usuario_Asignado\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """

In [1319]:
#Passing values from href formula to href before drop
for x in data[data['href'].isnull()].index:
    data.set_value(x, 'href', data['href formula'].iloc[x])

C:\Users\Usuario_Asignado\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  This is separate from the ipykernel package so we can avoid doing imports until

In [1320]:
data.drop(['href formula','Case Number.1','Case Number.2'],axis=1,inplace=True)

In [1321]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 19 columns):
Case Number               8703 non-null object
Date                      6302 non-null object
Year                      6300 non-null float64
Type                      6298 non-null object
Country                   6252 non-null object
Area                      5847 non-null object
Location                  5762 non-null object
Activity                  5758 non-null object
Name                      6092 non-null object
Sex                       5737 non-null object
Age                       3471 non-null object
Injury                    6274 non-null object
Fatal (Y/N)               5763 non-null object
Time                      2948 non-null object
Species                   3464 non-null object
Investigator or Source    6285 non-null object
pdf                       6302 non-null object
href                      6302 non-null object
original order            6309 non-null float64
dtypes: float64(2), object(17)
memory usage: 3.7+ MB

### Clean each column

#### Case Number

In [1322]:
[x for x in data['Case Number'].unique() if not re.findall('\d.',str(x))]

['0', nan, 'xx']

In [1323]:
[x for x in data['Case Number'] if re.match('xx',str(x))]

['xx']

In [1324]:
data[data['Case Number']=='0'].head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href,original order
6302,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6304.0
6303,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6305.0
6304,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6306.0
6305,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6307.0
6306,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6308.0

In [1325]:
tona=lambda x: np.NaN if not re.findall('\d.',str(x)) else x

In [1326]:
data['Case Number']=data['Case Number'].apply(tona)

In [1327]:
[x for x in data['Case Number'].unique() if not re.findall('\d.',str(x))]

[nan]

#### Date

In [1328]:
def fix_date(string):
    string=re.sub('[Rr]eported','',str(string)).strip()
    string=re.sub('[ \.]','-',string)
    try:
        string = pd.to_datetime(string)
        return string
    except:
        string=re.sub('[A-Za-z]{4:}','',str(string)).strip()
        try:
            string=pd.to_datetime(string)
        except:
            return np.NaN

In [1329]:
data.Date=data.Date.apply(fix_date)

In [1330]:
[x for x in data.Date.unique() if not re.findall('\d',str(x))]

[numpy.datetime64('NaT')]

#### Year

In [1331]:
[x for x in data.Year.unique() if not re.findall('\d\d',str(x))]

[nan, 5.0, 0.0]

In [1332]:
tona2=lambda x: np.NaN if not re.findall('\d\d.',str(x)) else x

In [1333]:
data.Year=data.Year.apply(tona2)

In [1334]:
[x for x in data.Year.unique() if not re.findall('\d\d',str(x))]

[nan]

#### Type

In [1335]:
[x for x in data.Type.unique()]

['Boating',
 'Unprovoked',
 'Invalid',
 'Provoked',
 'Questionable',
 'Sea Disaster',
 nan,
 'Boat',
 'Boatomg']

#### Country

In [1336]:
[re.sub('\?','',str(x)).strip() for x in data.Country.unique()]

['USA',
 'AUSTRALIA',
 'MEXICO',
 'BRAZIL',
 'ENGLAND',
 'SOUTH AFRICA',
 'THAILAND',
 'COSTA RICA',
 'MALDIVES',
 'BAHAMAS',
 'NEW CALEDONIA',
 'ECUADOR',
 'MALAYSIA',
 'LIBYA',
 'nan',
 'CUBA',
 'MAURITIUS',
 'NEW ZEALAND',
 'SPAIN',
 'SAMOA',
 'SOLOMON ISLANDS',
 'JAPAN',
 'EGYPT',
 'ST HELENA, British overseas territory',
 'COMOROS',
 'REUNION',
 'FRENCH POLYNESIA',
 'UNITED KINGDOM',
 'UNITED ARAB EMIRATES',
 'PHILIPPINES',
 'INDONESIA',
 'CHINA',
 'COLUMBIA',
 'CAPE VERDE',
 'Fiji',
 'DOMINICAN REPUBLIC',
 'CAYMAN ISLANDS',
 'ARUBA',
 'MOZAMBIQUE',
 'FIJI',
 'PUERTO RICO',
 'ITALY',
 'ATLANTIC OCEAN',
 'GREECE',
 'ST. MARTIN',
 'FRANCE',
 'PAPUA NEW GUINEA',
 'TRINIDAD & TOBAGO',
 'KIRIBATI',
 'ISRAEL',
 'DIEGO GARCIA',
 'TAIWAN',
 'JAMAICA',
 'PALESTINIAN TERRITORIES',
 'GUAM',
 'SEYCHELLES',
 'BELIZE',
 'NIGERIA',
 'TONGA',
 'SCOTLAND',
 'CANADA',
 'CROATIA',
 'SAUDI ARABIA',
 'CHILE',
 'ANTIGUA',
 'KENYA',
 'RUSSIA',
 'TURKS & CAICOS',
 'UNITED ARAB EMIRATES (UAE)',
 'AZORES',
 'SOUTH KOREA',
 'MALTA',
 'VIETNAM',
 'MADAGASCAR',
 'PANAMA',
 'SOMALIA',
 'NEVIS',
 'BRITISH VIRGIN ISLANDS',
 'NORWAY',
 'SENEGAL',
 'YEMEN',
 'GULF OF ADEN',
 'Sierra Leone',
 'ST. MAARTIN',
 'GRAND CAYMAN',
 'Seychelles',
 'LIBERIA',
 'VANUATU',
 'MEXICO',
 'HONDURAS',
 'VENEZUELA',
 'SRI LANKA',
 'TONGA',
 'URUGUAY',
 'INDIA',
 'MICRONESIA',
 'CARIBBEAN SEA',
 'OKINAWA',
 'TANZANIA',
 'MARSHALL ISLANDS',
 'EGYPT / ISRAEL',
 'NORTHERN ARABIAN SEA',
 'HONG KONG',
 'EL SALVADOR',
 'ANGOLA',
 'BERMUDA',
 'MONTENEGRO',
 'IRAN',
 'TUNISIA',
 'NAMIBIA',
 'NORTH ATLANTIC OCEAN',
 'PORTUGAL',
 'SOUTH CHINA SEA',
 'BANGLADESH',
 'PALAU',
 'WESTERN SAMOA',
 'PACIFIC OCEAN',
 'BRITISH ISLES',
 'GRENADA',
 'IRAQ',
 'TURKEY',
 'SINGAPORE',
 'NEW BRITAIN',
 'SUDAN',
 'JOHNSTON ISLAND',
 'SOUTH PACIFIC OCEAN',
 'NEW GUINEA',
 'RED SEA',
 'NORTH PACIFIC OCEAN',
 'FEDERATED STATES OF MICRONESIA',
 'MID ATLANTIC OCEAN',
 'ADMIRALTY ISLANDS',
 'BRITISH WEST INDIES',
 'SOUTH ATLANTIC OCEAN',
 'PERSIAN GULF',
 'RED SEA / INDIAN OCEAN',
 'PACIFIC OCEAN',
 'NORTH SEA',
 'NICARAGUA',
 'MALDIVE ISLANDS',
 'AMERICAN SAMOA',
 'ANDAMAN / NICOBAR ISLANDAS',
 'GABON',
 'MAYOTTE',
 'NORTH ATLANTIC OCEAN',
 'THE BALKANS',
 'SUDAN',
 'ARGENTINA',
 'MARTINIQUE',
 'INDIAN OCEAN',
 'GUATEMALA',
 'NETHERLANDS ANTILLES',
 'NORTHERN MARIANA ISLANDS',
 'IRAN / IRAQ',
 'JAVA',
 'SIERRA LEONE',
 'PHILIPPINES',
 'NICARAGUA',
 'CENTRAL PACIFIC',
 'SOLOMON ISLANDS / VANUATU',
 'SOUTHWEST PACIFIC OCEAN',
 'BAY OF BENGAL',
 'MID-PACIFC OCEAN',
 'SLOVENIA',
 'CURACAO',
 'ICELAND',
 'ITALY / CROATIA',
 'BARBADOS',
 'MONACO',
 'GUYANA',
 'HAITI',
 'SAN DOMINGO',
 'IRELAND',
 'KUWAIT',
 'YEMEN',
 'REUNION ISLAND',
 'FALKLAND ISLANDS',
 'CRETE',
 'CYPRUS',
 'EGYPT',
 'WEST INDIES',
 'BURMA',
 'LEBANON',
 'PARAGUAY',
 'BRITISH NEW GUINEA',
 'CEYLON',
 'OCEAN',
 'GEORGIA',
 'SYRIA',
 'TUVALU',
 'INDIAN OCEAN',
 'GUINEA',
 'ANDAMAN ISLANDS',
 'EQUATORIAL GUINEA / CAMEROON',
 'COOK ISLANDS',
 'TOBAGO',
 'PERU',
 'AFRICA',
 'ALGERIA',
 'Coast of AFRICA',
 'TASMAN SEA',
 'GHANA',
 'GREENLAND',
 'MEDITERRANEAN SEA',
 'SWEDEN',
 'ROATAN',
 'Between PORTUGAL & INDIA',
 'DJIBOUTI',
 'BAHREIN',
 'KOREA',
 'RED SEA',
 'ASIA',
 'CEYLON (SRI LANKA)']

In [1337]:
data.Country=data.Country.apply(lambda x:np.NaN if re.fullmatch('nan',str(x)) else re.sub('\?','',str(x)).strip())

#### Area

In [1338]:
[re.sub('d\x92','',str(x)).strip() for x in data.Area.unique()]

['California',
 'Georgia',
 'Hawaii',
 'New South Wales',
 'Colima',
 'Pernambuco',
 'Florida',
 'Queensland',
 'South Carolina',
 'Cornwall',
 'Westerm Australia',
 'Eastern Cape Province',
 'Hua Hin',
 'Cocos Island',
 'Western Australia',
 'Alifu Alifu Atoll',
 'Western Cape Province',
 'New Providence',
 'Alagoas',
 'nan',
 'Victoria',
 'KwaZulu-Natal',
 'Boi Island, Victoria',
 'Galapagos Islands',
 'Fernando de Noronha',
 'Sepang',
 'Holquin Province',
 'Pamplemousses',
 'South Australia',
 'North Island',
 'New York',
 'Canary Islands',
 'Upolu Island',
 'Shizuoka Prefecture',
 'Texas',
 'Castellón',
 'Massachusetts',
 'Red Sea Protectorate',
 'New Providence District',
 '40 miles off Grand Bahama Island',
 'Ascension Island',
 'New Jersey',
 'Majorca',
 'Washington',
 'Tabasco',
 'Anjouan',
 'Ibiza Island',
 'Marquesas',
 'South Devon',
 'New Providence',
 'Sharjah,',
 'Baja California Sur',
 'Saint-Leu',
 'South Island',
 'Luzon Island',
 'Great Exuma',
 'Saint-Andre',
 'Bimini',
 'Bali',
 'Tuamotos',
 'Oregon',
 'North Province',
 'New Providence Island',
 'Alicante Province',
 'Hong Kong',
 'Kochi Prefecture',
 'Tasmania',
 'Abaco Islands',
 'Alabama',
 'North Carolina',
 'Isla Provedencia',
 'Suez',
 'Grand Terre',
 'Boa Vista Island',
 'Vanua Levu',
 'Santa Catarina State',
 'South Province',
 'Altagracia Province',
 'Grand Cayman',
 'Balneário Camboriú',
 'Fujairah Emirate',
 'Grand Canary Island',
 'Inhambane Province',
 'Phuket',
 'Alicante',
 'Guanacaste',
 'Bora Bora',
 'Grand Bahama Island',
 'Le Port',
 'Rangiroa',
 'Saint-Gilles-les-Bains',
 'Sardinia',
 'Sinaloa',
 'Central Tuamotu',
 'Étang-Salé',
 'Granada',
 'Cargados Carajos Shoals (St. Brandon)',
 'Moorea',
 'Catalonia',
 'Maryland',
 'Louisiana',
 'West End',
 'Delaware',
 'Atsumi peninsula',
 'Palmyra Atoll',
 'Wallis and Futuna',
 'Baie de Sainte-Marie',
 'Society Islands',
 'Trinidad',
 'Okinawa Prefecture',
 '740 miles SE of Tarawa Atoll',
 'Southern District',
 'Bay of Biscay',
 'Quintana Roo',
 'Exuma Islands',
 'Saint-Paul',
 'Taitung',
 'Kingston Parish',
 'Santa Cruz Island',
 'Saint-Gilles',
 'Tuamotus',
 'Eleuthera',
 'St. Catherine',
 'Palawan',
 'Mercury Islands',
 'Delta',
 "Vava'u",
 'Inner Hebrides',
 'Saint Leu',
 'Trois-Bassins',
 'British Colombia',
 'Guerrero',
 'Saint-Benoit',
 'Tabuk Province',
 'Antofagasta Province',
 "St John's",
 'Santa Elena',
 'East New Britain',
 'Bois-Blanc',
 'Moray',
 'Puerto Rico',
 'Samaná Province',
 'Coast Province',
 'Central Province',
 'Primorsky Krai',
 'Peter the Great Bay, Khasan, Primorsky Krai (Far East)',
 'Telyakovsky Bay, Khasan,  Primorsky Krai (Far East)',
 'Praslin',
 'Sucre',
 'Middle Caicos',
 'Caicos Bank',
 'San Andrés archipelago',
 'Kedah',
 'Umm al Qaywayan Province',
 'Vitu Levu',
 'South Sinai Peninsula',
 'Loyalty Islands',
 'Saint Gilles',
 'Maine',
 'Virginia',
 "Ha'api",
 'Western Province',
 'Jeju Province',
 'Binh Dinh Province',
 'Antsiranana Province',
 'Sinai Peninsula',
 'Off Vanua Levu',
 'Merizo',
 'Rio Grande Do Sul',
 'Dubai',
 'Torres Strait',
 'Eastern Province',
 'Eastern Cape  Province',
 'Maputo Province',
 'Bocas',
 'Fife',
 'Devon',
 'Makira-Ulawa Province',
 'Mombasa',
 'Catalunya',
 'St. Johns Reef',
 'Off Green Island',
 'North Region',
 'Batangas province',
 'Strait of Malacca',
 'Guantanamo Province',
 'Maranhão',
 'Red Sea',
 'Batanes Provine',
 'Luzon',
 'Northern Territory',
 'Split-Dalmatia Count,',
 'North Devon',
 'US Virgin Islands',
 'San Carlos',
 'Cabo San Lucas',
 'Sussex',
 'Bahia',
 'Easter Ross',
 'Guerro',
 'Yasawa Islands',
 'Northern Bahamas',
 'Tokyo Bay',
 'Baja California',
 'Green Bay',
 'Loyalty Islands',
 'Marovo Lagoon',
 'Territory of Cocos (Keeling) Islands',
 'Oslo Fjord',
 'Kent',
 'Bird Island',
 'Providenciales',
 'Bimini Islands',
 'Muhafazat Hadramawt',
 'Cook islans',
 'Surigao del Norte',
 'Between Somalia & Yemen',
 'Ambergris Caye',
 'Saint-Pierre',
 'Kentucky',
 'Andros Islands',
 'Guam',
 'Western Area',
 '300 miles from Antigua',
 '800 miles from land',
 '600 nm west of the Canary Islands',
 'Simpson Bay',
 'East Wall',
 'Inner Islands',
 'Shanghai',
 'Malampa Province',
 "South Ch'ungch'ong Province",
 'Bay Islands',
 'New Mexico',
 'Santa Isabel Province',
 'Santiago de Cuba Province',
 'Camaguey Province',
 'Conservatória District',
 'South Carolina',
 'Kuril Islands in the Pacific',
 'Wakayama Prefecture',
 "Nuku'alofa",
 'Saint-Benoît',
 'South Island, near Karitane north of Dunedin',
 'Rocha',
 'Northlands',
 'Anzoategui',
 'Cook Islands',
 'Tamil Nadu',
 'Pearl Islands',
 'Taveuni',
 'Johnston Atoll',
 'Baatan',
 'Rio de Janeiro',
 'Nueva Esparta',
 'Southland',
 'North Pacific coast',
 'Caroline Islands',
 'Cheshire',
 'Louisiade Archipelago',
 'KwaZulu-Natal between Port Edward and Port St Johns',
 'Milne Bay Province',
 'Cikobia Island (north of Vanua Levu)',
 'Rayong Province',
 'Zamboanga del Sur Province',
 'Rio Grande de Norte',
 'Off the western coast of peninsular Malaysia',
 'New Brunswick',
 'Miyako Island',
 'Alaska',
 'Minerva Reef',
 'Madang Province',
 'Worcestershire',
 'Phang nga Province',
 'Alinglaplap Atoll',
 'Adriatic Sea',
 'Ralik Chain',
 'Grand Baie',
 "L' Etang Salé-les-Bains",
 'Southern Japan',
 'Cap Vert Peninsula',
 'Marches region',
 'Berry Islands',
 'Transvaal',
 'Gaza',
 "Grand'Anse",
 'Beaufonds',
 'Miyako',
 "L'Etang-Sale",
 'Chatham Islands',
 'South Sinai, Gulf of Aqaba',
 'Cat Cay',
 'Missouri',
 '12 miles off the north coast',
 'Saint-Paul',
 'Chatham Islands, east of New  Zealand',
 'Saint-Denis',
 'Vava\x92u',
 'Mississippi',
 'Clearwater Bay',
 'New Territories',
 'Aichi Prefecture',
 'Tafea Province',
 'Kagoshima Prefecture',
 'Saint-Joseph',
 'Banaadir Region',
 'La Libertad',
 'Costa Blanca',
 'Walkers Cay',
 'On the Kowloon penisula, south of Sai Kung',
 'Ehime Prefecture',
 'Tongapatu Group',
 'West Africa',
 'Wakaya Island',
 'North Carolina',
 'Mexico / Caribbean Sea',
 'Antarctic Ocean',
 'La Saline-les-Bains',
 'Sea of Japan',
 'Tavenui',
 'Ligurian Sea',
 "L'Etang-Salé",
 'Kowloon Peninsula',
 'Port Shelter',
 'Laucala Island',
 'Sainte-Marie',
 'Great Exuma Island',
 'Sainte-Suzanne',
 'Tuscany',
 'Tyrrhenian Sea',
 'New Ireland',
 'Valpariso Province',
 'Viscayan Sea',
 'Manfredonia',
 'Tokyo Prefecture',
 'Saint-Louis',
 'Mindoro',
 'Between DR and Puerto Rico',
 'Between Honiara & Isabel Island',
 'Florida Straits',
 'Gulf of Lyons',
 'Cádiz',
 'Sicily',
 'Andikira Fokithes',
 'Central Philippines',
 'Rhode Island',
 'Northwest Italy',
 'English Channel',
 'North & South Carolina',
 'Kumamoto Prefecture',
 'Biserta',
 'Saint-Philippe',
 'Chungnam',
 'Eronogo Region',
 'Coquimbo',
 'Pagasitikos Gulf',
 "St. Mary's Parish",
 'Romblon Province',
 'Lamu Archipelago',
 'Los Vilos',
 'Island of Kos',
 "Ha'api",
 'Madeira Islands',
 'Ho Ha Wan Marine Park',
 'Southern Thailand',
 'Golfo de Venezia',
 'Ralik Archipelago',
 'South China Sea 200 miles from Hong Kong',
 'Reggio Calabria Province',
 'Mirs Bay',
 'Genoa Province',
 'Ganges-Brahmaputra delta',
 'Split-Dalmatia County',
 'Florida',
 'Primorje-Gorski Kotar County',
 'Aulong Island',
 'Western Caroline Islands',
 'Upolu Island',
 'Antibes',
 'Illeginni Atoll',
 'Istria County',
 'Between Beira & Maputo',
 'Khuzestan Province',
 'Inhambe Province',
 'Namonuito Atoll',
 'Eastern Caroline Islands',
 'Western Caroline Islands (North Pacific Ocean)',
 'Caribbean Sea',
 'St. Andrew Parish',
 '200 nm southeast of Manila',
 'Limpopo River',
 'New Ireland Province',
 'Zadar County',
 'Basrah',
 'Clarendon',
 'Moro Gulf',
 'Johor',
 'Magdalena Department',
 'Mafia Island',
 'Gulf Province',
 'Morobe Province',
 'Limón Province',
 'Rombion Province',
 'Veracruz',
 'Brindisi Province',
 'Kagawa Prefecture',
 'Liguria',
 'Hamilton',
 'Out Islands',
 'Mugla Province',
 'Gibraltar',
 'New Britain',
 'Bay of Maputo',
 'Duke of York Islands',
 'Taranto province',
 'Northern Taiwan',
 'Admiralty Islands, Manus Province',
 'North Sumatra',
 "250 miles southwest of O'ahu, Hawaii",
 'West coast',
 'East Sepik',
 'Near Bougainville (North Solomons)',
 'East of the Gulf of Aqaba',
 'Bougainville (North Solomons)',
 'Victoria',
 'Okayama Prefecture',
 'San Blas',
 'Connecticut',
 'Lau Group',
 'Caribbean Coast',
 'Vita Levu',
 'San Blas Islands',
 'Puntarenas Province',
 'Lomaloma, Lau',
 'Between Southampton & Canary Islands',
 'South Coast, East New Britain',
 'Lau Province',
 'Ysabel Island',
 'Santo Domingo',
 'San Blas coast',
 'Thessaly',
 'Lomaiviti  Island Group',
 'Rodrigues',
 'Manus Island',
 'Pinas Bay',
 'Grand Turk Island',
 'Off coast of West Africa',
 'Sharon',
 'Antalya Province',
 'Northern District',
 'New Ireland Province, Bismarck Archipelago',
 'Cyclades',
 'Viti Levu',
 'Off the Coromandel Peninsula, North Island',
 'Madang',
 'Guadalcanal Province',
 '10ºS, 142ºE',
 'Kwajalein Atoll',
 'East Flores',
 'Guerrrero',
 'Western Luzon Island',
 'Shefa Province',
 '165  miles from Bermuda',
 '25 km off the coast of Iran & 483km from mouth of Persian Gulf',
 'Venice Province',
 'Sandaun Province',
 'Anatolia',
 'East New Britain Province',
 'United Arab Emirates',
 'Wake Island (EnenKio)',
 '19S, 178?E',
 'Pennsylvania',
 '9.35N 79.35W',
 'Roncador Bank',
 'Western District',
 'Enroute from Suez to Aden (Yemen)',
 '180 miles southeast of Okinawa',
 'Eniwetok Atoll',
 'Cap-Vert Peninsula',
 'Delagoa Bay',
 'In the English Channel',
 'Cook Strait',
 'Unknown, treated at Wick, SCOTLAND',
 'Corregidor Island',
 'Paget',
 '33N, 68W',
 'Casamance',
 'Madang (WO)',
 'Between Timor & Darwin, Australia',
 'Pacific coast',
 'St. Georges',
 'Eastern  Province',
 'Northwest of Viti Levu',
 'West New Britain Province',
 'Rigo subdistrict',
 'Masbate',
 '400 miles southeast of Sri Lanka',
 'Lomaiviti Province',
 'Kadavu',
 'Leyte Island',
 'Orissa',
 'Hokkaido Prefecture',
 'North Palawan',
 'Queaon',
 'Istria',
 'PANAMA',
 'In the Gulf Stream',
 'Mersin Province',
 'Guyamas',
 'Between England & South Africa',
 'Mindanao',
 'Kikori River mouth',
 'South Chungcheong Province',
 'Ahirkapi coast',
 'Tutuila Island',
 'Primorje-Gorski Kotar County',
 'Between Hawaii & Wake Island',
 'Taipei Hsien',
 'Ibaraki Prefecture',
 'South Pacific Ocean',
 'Canal Zone',
 '1,000 miles east of Hawaii',
 'Honiara',
 'Yucatan Channel',
 'Havana Province',
 'Karun River',
 'Abau Subdistrict,Central Province',
 'New Britain, Bismarck Archipelago',
 'Estuaire Province',
 'Near Dakar, Cap Vert Peninsula',
 'Near the Andaman & Nicobar Islands',
 'Mozambique Channel',
 'Tyrrenian Sea',
 'Congreve Channel',
 'St. Thomas Bay',
 'Madeira',
 'Between Comores & Madagascar',
 'Corfu Island',
 '1000 miles west of Hawaii',
 'Izo Islands',
 'Primorje-Gorski Kotar County',
 'Open sea',
 'Aden',
 'New Ireland, Bismarck Archipelago',
 '18S / 50E',
 'Illinois',
 'Isles del Rosario',
 'Wake Island',
 'Isle of Man',
 'Nagasaki Prefecture',
 'Liguaria',
 'Slovenia',
 'South shore',
 'Buenos Aires Province',
 '330 to 350 miles east of Wake Island',
 'Nova Scotia',
 'Gulf of Panama',
 'Genoa  Province',
 'Abau Sub District, Central Province',
 'Teramo',
 'Red Sea State',
 'Curacao',
 'Port Louis Province',
 'Montserrado',
 'Bay of Maputu',
 'Sofala Province',
 'Salerno',
 'Salerno Province',
 'Taranto',
 'Naples Province',
 'La Libertad',
 'Sago Prefecture',
 'Savona',
 'Southern Province',
 'Jakarta Harbour',
 'Singapore Harbor',
 'Calabria',
 'Shatt-el-Arab River',
 'Shatt-al-Arab River',
 'Tamaulipas',
 'Calvados Archipelago',
 'Shat-Al-Arab River',
 'Between Kwajalein Atoll & Johnston Island',
 'Attica',
 'Adana Province',
 'Bandar Ma\x92shur sea inlet',
 'Saipan',
 'Carpathian Sea',
 'Kwajalein',
 'Dar-es-Salaam',
 '"Head of the Gulf"',
 'Ryukyu',
 'North Carolina',
 'In transit between Tinian and Leyte',
 'Northern Java',
 'Tel Aviv',
 'Colon Province',
 '300 miles east of Luzon',
 'Bernardino Strait near Gulf of Leyte',
 'Off Samar Island in the Gulf of Leyte',
 'Lake Nicaragua (fresh water)',
 'Pacific Ocean',
 'Near the Fiji Islands',
 '40 miles south of Naples',
 'Northwest of Papua New Guinea',
 'Between Hawaii and U.S.A.',
 'Off South American coast',
 'Makora-Ulawa Province',
 '04.05N-13.23W',
 'Midway Atoll',
 '300 miles east of St. Thomas (Virgin Islands)',
 'West of Ceylon (Sri  Lanka)',
 'East Java',
 'Camiguin Island',
 'Cay Sal Bank',
 '(Southwestern Pacific)',
 'Panama City',
 'Off Libya',
 'North of Pernambuco, Brazil',
 'Off coast of Ecuador',
 'Trelawney Province',
 'In Convoy OB 274',
 'New Georgia',
 'Panama Bay (Pacific Ocean)',
 'Bwagaoia',
 'Western Papuan Gulf',
 'Torres Strait',
 'Carabobo',
 'Ascension Bay',
 'North China',
 'Lower San Juan River',
 'Nicoya Peninsula',
 'Basrah City',
 'West Bengal',
 'Queensland',
 'Argyllshire',
 'Arran',
 'Argyll',
 'Fishing Grounds',
 'Newfoundland',
 'Isle of Wight',
 'Makira-Uluwa Province',
 'Northern (Oro) Province',
 'Herzliyah',
 'Elqui Province',
 'Istanbul',
 'St Michael Parish',
 'Barlavento Islands',
 'Viti Levu Island',
 'Bay of Fundy',
 'Manila',
 'French Southern Territories',
 'Niua',
 'Black River',
 'Phoenix Islands',
 'Cienfuegos Province',
 'Valencia',
 'Santiago Island',
 'Near Puntarenas',
 'Porto Seguro',
 'Salinas Bay',
 'Golfo di Genova in the Ligurian Sea',
 'Sants-Montjic',
 'South of the Equator',
 'Bay of Monaco',
 'Valencia',
 'Vancouver',
 '2 to 3 miles off Taboguilla Island, Pacific Ocean',
 'Dorset',
 '150 miles offshore',
 'Galica',
 'Demerara County',
 'Vera Cruz',
 'Manila Bay',
 'Lucy',
 'East Yorkshire',
 'Westmoreland Parish',
 'Cavite Province, Luzon',
 'Cape Haitien',
 'Leyte',
 'Halifax',
 'Turtle Bogue',
 '60 miles north of San Domingo in the West Indies',
 'Colon',
 'Off Ireland',
 'Mediterranean Sea',
 'Gran Canaria',
 'Apolima Strait',
 'Essequibo',
 'Lagos',
 'Trieste',
 '5aint-Denis',
 'Viti Levu group',
 'Balearics',
 'Málaga',
 'Chatham Islands',
 'Georges Bank',
 'Zambesi River',
 'Colón Province',
 '30 nm from Singapore',
 'Andalucia',
 'Sfax',
 'South Atlantic Ocean',
 'Galicia',
 'Gulf of Suez',
 'Java',
 'Tiburon Peninsula',
 'Oaxaca',
 'Harare Province',
 'Khánh Hòa Province',
 'Maluku Province',
 'Suez Canal',
 'Nusa Tenggara',
 'Between Noumea & Sydney',
 'Villa Clara Province',
 'Ancona Province',
 'Quezon',
 'Rio San Juan',
 'Southern Cyprus',
 'Syracuse',
 'Western Viscayas',
 'Mindoro Occidental',
 'Negros',
 'Imperia Province',
 'Muala',
 'East coast',
 'Ratak',
 'Socotra Islands',
 'Off Cape Haitien',
 'Moluccas',
 'Bocas del Toro',
 'Provence',
 'Bay of Campeche',
 'Rangoon',
 'Bay of Bengal',
 'Bayelsa State',
 'South Island?',
 'Norfolk Island',
 'Brittany',
 'Line Islands',
 'Woodlark Islands',
 'Munxar Reef',
 'Northern Peloponnese',
 'Between Perth & Colombo',
 'Gujarat',
 'Lukovo',
 'Cortés',
 'Gulf of California',
 'Somewhere between Philadelphia and Hiogo, Japan',
 'New Jersey',
 "Côte d'Azur",
 'Maldonado coast',
 'Western Banks',
 'Andaman Islands',
 'Off the coast of West Africa',
 'Misamis Oriental',
 'Strait of Messina',
 'Hoogly River',
 'Cyclades archipelago',
 'Mount Lebanon',
 'Between Hastings & Fairlight, Sussex',
 'Veracruz',
 'Gilbert Islands',
 'Lomaiviti Provine',
 'Off the coast of South America',
 '22ºN, 88ºE',
 'Matanzas Province (north coast)',
 'Alpes Maritime',
 'Edinburgh',
 'Eastern Catalona',
 '300 miles east of Mauritius',
 'Foveaux Strait',
 'Sumatra',
 'Conakry Region',
 'Corfu',
 'Malaga',
 'Bonin Islands',
 'Fernando Po Island',
 'Mangaia Island',
 'New York',
 'Corfu',
 'Between Australia & USA',
 'Tongatapu',
 'Norfolk',
 'Island of St. Thomas',
 'Cumberland',
 'Sanma Province',
 "35º39 : 165º8'",
 'CUBA',
 'Western Area',
 'Paraiba',
 'Cape Coast',
 'Rivers State',
 'Maharashtra',
 'St. Anne',
 'St Helena',
 "Côte d'Azur",
 'Skagerrak arm of the North Sea',
 'Las Perlas archipelago',
 'Bardestrand',
 'Southwest coast',
 'Kerala',
 'Nice & Marseilles',
 'Magarita or Cubagua Islands',
 'Ionian Sea',
 'Piraeus',
 'Off Thessaly',
 'Bocas del Toro Province',
 'Rocha',
 'Gulf of Tadjoura',
 'Cyrenaica',
 'Northern Province',
 'Los Roques  Islands',
 'Dodecanese Islands',
 'Malaita Province',
 'South Korea',
 'Milne Bay  Province',
 'Island of Volos',
 'Amirante Islands',
 'Kadavu Island Group',
 'Toamasina Province',
 'Riau Province',
 'Bikini Atoll',
 'Between New Ireland & New Britain',
 'Ba Ria-Vung Tau  Province',
 'Moala Island']

In [1339]:
data.Area=data.Area.apply(lambda x:np.NaN if re.fullmatch('nan',str(x)) else re.sub('d\x92','',str(x)).strip())

#### Location

In [1340]:
[str(x).strip() for x in data.Location.unique()]

['Oceanside, San Diego County',
 'St. Simon Island, Glynn County',
 'Habush, Oahu',
 'Arrawarra Headland',
 'La Ticla',
 'Flat Rock, Ballina',
 'Piedade Beach, Recife',
 'Lighhouse Point Park, Ponce Inlet, Volusia County',
 'Cocoa Beach, Brevard  County',
 'Daytona Beach, Volusia County',
 'Cairns Aquarium',
 'Isle of Palms,  Charleston County',
 'Hilton Head Island, Beaufort County',
 "Off Land's End",
 'Dugong Bay',
 'Nahoon Beach, East London',
 'Sharpes Beach, Ballina',
 'Sai Noi Beach',
 'Manuelita',
 'Gearys Beach',
 'Lennox Head',
 'Surfers Point, Prevelly',
 'South Point, Gracetown',
 'Madoogali',
 'Robberg Beach, Plettenberg Bay',
 'Shipwreck\x92s Beach, Keoneloa Bay, Kauai',
 'Piedade',
 'Lefthanders, Margaret River Area',
 'Cobblestones, Margaret River Area',
 'Nirvana Beach',
 'Praia de Sauaçuhy, Maceió',
 'Magenta Beach, Noumea',
 'Bimini',
 'St. Francis Bay',
 'Kukio Beach',
 "Waterman's Bay",
 'Lorne',
 'Winkipop',
 'Durban',
 'Little Congwong Beach, La Perouse',
 'Westernport Bay',
 'Surf Beach, Kiama',
 'Mooloolaba Beach',
 'Espirito Santo',
 'Santa Fe Island',
 'Avalon Point, Manurah',
 'Cone Bay',
 'Nouville',
 'Lizard Island',
 'Martin Islet',
 'Conceicao Beach',
 "Hultin's Beach, Oahu",
 'Drakes Estero, Point Reyes, Marin County',
 'Bagan Lalang Beach',
 'nan',
 'Gars Garabulli',
 'Stillwater Cove, Monterey County',
 'Floridana Beach, Brevard County',
 'Avoca Beach',
 'Guardalavaca Beach',
 'Magnetic Island',
 'Birubi Point',
 'White Plains Beach, Oahu',
 'Le Goulet',
 'Juno Beach, Palm Beach County',
 'Ocean Reef Park, Singer Island, Palm Beach County',
 'Normanville',
 'Off Tapuna Beach, Auckand',
 'Lantana Beach, Palm Beach County',
 'Davidsons Beach, Kekaha, Kauai',
 'Kama\x91ole Beach Park, Maui',
 'Dyer Island',
 'Hanna Park, Jacksonville, Duval County',
 'Gracetown',
 'Rockaway',
 'Fort Worth',
 'Palm Beach County',
 'Gran Canaria',
 'Ponce Inlet, Volusia County',
 'Hawston',
 'Nofoali\x92i',
 'Esperance',
 "Sam's Creek area",
 'Iluka Beach',
 'Owarigi Island',
 'Iwata City',
 'Marathon, Monroe County',
 'South Padre Island, Cameron County',
 'New Smyrna Beach, Volusia County',
 'Cathedral Rock',
 'Bathtub Beach',
 'Grao de Moncofa',
 'Off Tutukaka',
 'Marconi Beach, Wellfleet, Barnstable County',
 'Sea Pines Resort, Hilton Head Island, Beaufort County',
 'Marsa Ghalib',
 'Menauhant Beach, Falmouth,\nBarnstable County',
 'Between Pescadero Point & Bean Hollow Beach, San Mateo County',
 'Jacksonvlle, Duval County',
 'DeBordieu Colony, Georgetown County',
 'Rose Island',
 'English Bay',
 'Ventnor',
 'Estanys Beach, Colonia de Sant',
 'Snipes Point, Monroe County',
 'Stearns Wharf, Santa Barbara',
 'Seal Rock, Goleta Beach, Santa Barbara',
 'South Beach, Westport, Grays Harbor County',
 'Floreat Beach',
 'Santa Cruz, Santa Cruz County',
 'Haulover Beach, Miami-Dade County',
 'Sánchez Magallanes, Cárdenas',
 'Nahoon Reef, East London',
 'Moya',
 'Wrightsville Beach',
 'South Forest Beach, Hilton Head Island, Beaufort County',
 'Singer Island, Palm Beach County',
 'Burkes Beach, Hilton Head, Beaufort County',
 'Roches Noire',
 'Playa d\x92en Bossa',
 'Atuona Bay, Hiva Oa Island',
 'Point Casuarina, Bunbury',
 'Flinders, Mornington Penisula',
 'Bantham Beach',
 'Middle Sambo Reef off Boca Chica, Monroe County',
 'Athol Island',
 'Awendaw, Charleston County',
 'Off Jupiter',
 'Evans Head',
 'Khor Fakkan',
 'Weipa',
 'Los Arbolitos, Cabo Pulmo',
 'Sunset Beach, Orange County',
 'San Onofre, San Diego County',
 'Keurbooms, Plettenberg Bay',
 'Folly Beach, Charleston County',
 'Pointe au Sal',
 'Porpoise Bay, Catlins',
 'Georgetown County',
 'Kelpies near Wylie Bay',
 'Kekaha Beach, Kauai',
 'St. Augustine',
 'Protea Banks',
 'Ormond Beach, Volusia County',
 'Melbourne Beach, Brevard County',
 'Daytona, Volusia County',
 'Moreton Bay',
 'Destin, Okaloosa County',
 'The Farm',
 'Monterey Bay',
 'Villamar, Caoayan',
 'Mauds Point',
 'Falcon Bay Beach, Mandurah',
 'Eva Rock',
 'Fernando de Noronha Marine Park',
 'Eastmoor Crescent Beach',
 '16 miles off Hilton Head',
 'Boa Viagem, Recife',
 'Vero Beach, Indian River County',
 'Boot Reef, Torres Strait',
 'Clairview',
 'Jensen Beach',
 'Balian Beach',
 'Blockhouse Beach, Brevard County',
 'Merimbula',
 'Avalon State Park Beach, North Hutchinson Island, St Lucie County',
 'Bundegi Sanctuary Zone, Ningaloo',
 'Keurbooms Lagoon, Plettenberg Bay',
 'Trigg Beach',
 'Takapoto Atoll',
 'Booti Booti National Park',
 'Queenscliff',
 'Kamaole Beach Park I, Maui',
 'Mayport Naval Station Beach, Duval County',
 'Mayport Naval Station  Duval County',
 'Broken Head Beach',
 'Hooipa Beach Park, Maui',
 'Kings Beach, Caloundra',
 'Charlie Young Beach, Kihei, Maui',
 'Guadalupe Island',
 'Indian Beach, Ecola State Park, Clatsop County',
 'Lighthouse Beach, Ballina',
 'Bunkers, Humboldt Bay, Eureka, Humboldt County',
 'Thirteenth Beach',
 'Bells Beach',
 'Bunbury',
 'Ponte Vedra, St. Johns County',
 'Makaha, Oahu',
 'Koumac',
 'Kingston Plantation, Myrtle Beach, Horry County',
 'Injidup',
 'Refugio State Beach, Santa Barbara County',
 'Boucan Canot',
 'Nassau',
 'Maui',
 'Arenales del Sol',
 'Near Albany',
 'Florida Keys, Monroe County',
 'Irino Beach',
 'Clifton Beach',
 'Green Turtle Cay',
 '20 k off The Spit, off the Gold Coast',
 '8 miles off Mobile',
 'Surfside, Orange County',
 'North Myrtle Beach, Horry County',
 'Tiger Beach',
 'Las Teresitas, Tenerife',
 'Capitola, Santa Cruz County',
 'Off Gloucester, Essec County',
 'Off Palos Verdes peninsula, Los Angeles County',
 'Palm Cove',
 "Sullivan's Island",
 'Atlantic Beach, Emerald Isle, Carteret County',
 'Ryspunt',
 'Pelican Beach Park, Satellite Beach, Brevard County',
 'Kalapaki Beach, Kauai',
 'Coral Bay',
 'Pirates Beach, Galveston',
 'Flagler Beach, Flagler County',
 'Mindarie',
 'Ain Sokhna',
 'Kingscliff',
 'Côte-Blanche, Nouméa',
 'Falcon Beach, Mandurah',
 'Corona Del Mar, Newport, Orange County',
 'Neptune, Duval County',
 'St. Petersburg, Pinellas County',
 'Hugenot Beach , Jacksonville, Duval County',
 'Boca Raton, Palm Beach County',
 'Wailea Beach, Maui',
 'Cormandel',
 'Balian',
 'First Sun Beach, Byron Bay',
 'Makemo Atoll',
 'Off Singer Island, Palm Beach County',
 'Poe Beach',
 'Corners Beach, Jupiter, Palm Beach County',
 'Olowalu, Maui',
 'Bombo Beach',
 'Fort Myers Beach, Lee County',
 'North Cronulla Beach',
 'Bolsa Chica State Park, Orange County',
 'Vero Beach, St. Lucie County',
 'Wrights Bay',
 'Escalerio Beach Balneário Camboriú',
 'Ricaudy Reef, Noumea',
 'Yate',
 'Bavaro Beach, Punta Cana',
 'Stingray City Bar',
 'Nettley Bay',
 'Stradbroke Island',
 'Hams Beach',
 'Estaleirinho beach',
 'Hanalei Bay, Kauai',
 'Hanalei Bay, Kauai,',
 'Off Surfside',
 '35 miles off Fujairah',
 'Happy Valley Beach, Caloundra',
 'Heron Island',
 'Miall Island',
 'Westbrook Beach',
 'Arinaga Beach, Aguimes, Gran Canaria',
 "La'aloa Beach Park",
 'Bondi Beach',
 'Fernano de Noronha',
 'Boat capsized',
 'Lake Macquarie',
 'Off Andros Island',
 'Mpande',
 'Punta Vicente Roca, Isabella Island',
 'Playalinda Beach, Brevard County',
 'Palm Beach, Palm Beach County',
 'East Ballina',
 'Paradise Beach, Melbourne, Brevard County',
 'Kehena Beach, Hawaii',
 'Maxixe',
 'Bald Island',
 'Malaka, Oahu',
 'Stil Bay',
 'Deerfield Beach, Broward County',
 'Nahaduga, Inhambane Bay',
 'Waikiki,',
 'Lanikai Beach, Kailua, Oahu',
 'Off Leffingwell Landing, San Luis Obispo County',
 'Shipyard Beach Club, Hilton Head Island, Beaufort County',
 'Leftovers, Oahu',
 'Maxixe, Inhambane Bay',
 'Pyramids Beach',
 'Pepper Park Beach, St. Lucie County',
 'Galveston',
 'Vilano Beach, St.  Johns County',
 'Russel Island, Frankland Group',
 'Horseshoe Rock, Santa Barbara County',
 'Upolu Point, North Kohala, Big Island',
 'Fernandina Beach, Amelia Island, Nassau County',
 'Gaviota State Beach, Santa Barbara County',
 'Big Talbot Island, Duval County',
 'Jacksonville Beach, Duval County',
 'North Shelly Beach',
 'El Pescador Beach, Los Angeles County',
 'Deer Creek Beach, Ventura County',
 'Hallidays Point',
 'Myrtle Beach, Horry County',
 'Karon Beach',
 'Morro Strand State Beach, San Luis Obispo County',
 'Morro Bay, San Luis Obispo County',
 'Lighthouse Beach',
 'Murrells Inlet, Georgetown County',
 'Santa Barbara County',
 'Poniente Beach, Benidorm',
 'Cortes Bank',
 'Playa Grande',
 'Tyrendarra Beach',
 'Edisto Beach, Colleton County',
 'Lachan Island, Mercury Passage',
 'La Jolla, San Diego County',
 'Tyrendarra Beach near Portland',
 'St. Leu',
 "Jeffrey's Bay",
 'Huntington Beach, Orange County',
 'Port Lucaya, Freeport',
 'Off Surf City, Pender County',
 'Ocracoke, Lifeguard Beach, National Park Service, Hyde County',
 'Flat Rock, Yamba',
 'Isle of Palms County Park, Isle of Palms, Charleston County',
 'Rodanthe, Dare County',
 'Buffels Bay near Knysna',
 'Lookout Beach, Plettenberg Bay',
 'South Beach, Hunting Island State Park, Beaufort County',
 'Rottnest Island',
 'Avon, Hatteras Island, Outer Banks, Dare County',
 'Surf City',
 'Denmark',
 'St. Helena Island, Beaufort County',
 'Off Cabo Rojo',
 'Daytona Beach Shores',
 'Oak Island, Brunswick County',
 'Off San Diego',
 'Ocean Isle, Brunswick County',
 'Lori Wilson Park, Cocoa Beach, Brevard  County',
 'Fort Lauderdale',
 'Folette',
 'Avatoru Pass',
 'Kouare',
 'Saltwater Beach',
 "Port St. John's",
 'Kanahena Cove',
 "Resident's Beach, Marco Island",
 'Fishery Bay',
 'Belongil Beach, Byron Bay',
 'Cap Homard',
 'McKenzies Beach',
 '3 miles off Jupiter, Palm Beach County',
 'Praia del Chifre, Olinda',
 'Yellow Sands Point',
 'Marsa Alam',
 'Hapuna Beach',
 'Anau',
 'Julian Rocks, Byron Bay',
 'Mazlatan',
 'Tupapati, Hikueru Atoll',
 'Ravine Mula',
 'Shelly Beach',
 'Seven Mile Beach, Byron Bay',
 'Mereweather Beach',
 "Nerang River, Surfer's  Paradise",
 'Lahaina',
 'Flat Rock',
 'Nahoon Beach',
 'Off Panama City',
 'Wategos Beach, Byon Bay',
 'Off Blacksmith Beach',
 'Mollymook Beach, Bannister Head',
 'Tahiti Beach, Elbow Cay',
 'Chintsa East Beach',
 'Windsor Beach, Indian River County',
 'Bherwerre Beach',
 'Three Stripes near Cheynes Beach',
 '33 nautical miles off Othonoi Island',
 'Montaña de Oro State Park, San Luis Obispo County',
 'Paradise Beach',
 'Rudder Reef',
 'Off Motril',
 'Pyramids Beach, Port Bouvard',
 'Freo',
 'Franklin Point, San Mateo County',
 'Indian Harbor Beach, Brevard County',
 'Airplane Beach, Lahina, West Maui',
 'Moonee Beach',
 'Fort Pierce Inlet State Park, St. Lucie County',
 'North Kohala, Hawaii County',
 'Wallabi Point',
 'Kihei, Maui',
 'Kahului, Maui',
 'Leadbetter Beach, Santa Barbara County',
 'Maalaea, South Maui',
 'Castle Rock, north of Dunsborough',
 'Cherie Down Park, Brevard County',
 'Walls Beach, Vandenberg AFB, Santa Barbara County',
 'Kelpids Beach, Wylie Bay, Esperance',
 'Tiahura Lagoon',
 'Manresa State Beach, Santa Cruz County',
 'Clarkes Beach, Byron Bay',
 'Katrina Cut, Dauphin Island, Mobile County',
 'Manomet Point, Plymouth, Plymouth County',
 'Fletcher Beach, Hutchinson Island, Martin County',
 'Salou',
 'Atlantic Beach, Duval County',
 'Assateague National Seashore',
 'Benidorm',
 'Figure Eight Island,  New Hanover County',
 'Surfside Beach, Horry  County',
 'Apalachicola Bay',
 'Off Masonboro Island, New Hanover County',
 'Gnaraloo',
 '3 to 4 miles west of Indian Pass, Gulf County',
 'Hallandale Beach, Broward County',
 'Lake Ponchartain off Southshore Harbor, New Orleans',
 'South of Cocoa Beach, Brevard County',
 'Table Beach, Brevard County',
 'Muizenberg',
 'Sunset Beach, Brunswick County',
 'Indialantic, Brevard County',
 'Teresita, Santa Cruz, Tenerife',
 'Paia Bay, Maui',
 'Okaloosa Island',
 'Masonboro Island, New Hanover County',
 'Manhattan Beach, Los Angeles County',
 'Oceano Dunes State Beach, San Luis Obispo County',
 'Isle of Palms, Charleston County',
 '20 miles from shore',
 'Middleton Point, Fleurieu Peninsula',
 'Horizontal Falls',
 '500 km off the coast of Pernambuco',
 'Cape Henlopen State Park, Sussex County',
 'Parsons Beach,  Fleurieu Peninsula',
 'Aichi',
 'West Beach, Galveston',
 'Seven Mile Beach, Gerroa',
 'Nerang River near Chevron Island',
 'Wallis Island',
 'The Australian Shark and Ray Centre',
 'Juan Ponce de León Landing, Melbourne Beach, Brevard County',
 'Elliston, Eyre Peninsula',
 'Tybee Island, Chatham County',
 'Bethel Shoals, Indian River County',
 'Coligny Beach, Hilton Head, Beaufort County',
 'Simonstown',
 'South Passage, south of Coral Bay',
 'Port Alfred',
 'Tathra',
 'Off Dawesville Cut',
 'Second Beach, Port St Johns',
 'Delray Beach',
 'Macarthur State Park',
 'Winkipop Beach',
 'Santa Lucea Beach, South Hutchinson Island, St. Lucie County',
 'Huahine',
 'Goldsmith Beach, Yorke Peninsula',
 'Porpoise Bay',
 'Umina Beach',
 'Garden Bay near Cosy Nook',
 'Off Miyako Island',
 'Stewart Island',
 'Lindéralique, Hienghène',
 'Die Platt',
 'Ninole Bay, Hawaii County',
 'Shelly Beach, near Port Macquarie',
 'Between  Makena & Molokini, Maui',
 'Riecks Point,  Campbell\x92s Beach,',
 'Keawekapu Beach, Kihei, Maui',
 'Gleneden Beach, Lincoln County',
 'Trigg Beach, Perth',
 'Off Cape Eleuthera',
 'Bay Head, Ocean County',
 'Kanaha Beach, Maui',
 'Turquoise Bay',
 'Little Island, near Hillarys',
 'South Narrabeen Beach',
 'Waiehu, Maui',
 "Pila'a Beach, Kaua'i",
 'Miami Beach',
 "Albatros Point, near Jeffrey's Bay",
 'Off Poison Creek, Cape Arid',
 'Ashdod',
 'Panama City, Bay County',
 'Carlin Park, Jupiter, Palm Beach County',
 'Casino Beach, Pensacola, Escambia County',
 'New Smyrna Beach,  Volusia County',
 'Key West Aquarium',
 'St Augustine Beach, St Johns County',
 'Freetown Beach',
 'Butterfly Beach, Montecito, Santa Barbara County',
 'Catalina Channel',
 'Winterhaven Park,           Ponce Inlet, Volusia County',
 'Smiths',
 'Pohoiki',
 'Pillar Point, Half-Moon Bay, San Mateo County',
 'Makenat, Maui',
 "Ka'a Point, Maui",
 'Folly Beach',
 'Sanibel Island, Lee County',
 'Ulua Beach, Maui',
 'Scotland Cay',
 'Compass Cay',
 'Grand Cay',
 'Boa Viagem Beach, Recife',
 'Gulf Shores, Baldwin County',
 'Butler Beach, St Augustine,       St. Johns County',
 'Le cimetière marin',
 'Holden Beach. Brunswick County',
 'Sant Marti d\x92Empuries Beach, L\x92Escala',
 'Port Royal',
 'Pacific State , San Mateo County',
 'Jacksonville, Duval County',
 'Kiawah Island, Charleston County',
 'Kona Coast State Park',
 'Surfside Beach, Brazoria County',
 'Queensberry Bay',
 'Off Snipe Point, Florida Keys, Monroe County',
 'Target Beach',
 'Halewia, Oahu',
 'Coral Cove Beach',
 'Gaza',
 'Playa Brava, Turtle Bay',
 'Tourmaline Surf Park, San Diego County',
 'Brisant Beach',
 'Emerald Beach',
 'Seagull Beach, Cancun',
 'Crowdy Head',
 'Near Boynton Beach, Palm Beach County',
 'False Bay',
 'North Pass, Fakarava',
 'Jensen Beach, Martin County',
 'Perth',
 'Ka\x92anapali Shores',
 'Terrigal Beach',
 'Ile Platte',
 'Savannah Sound',
 'De Mond',
 'Hawston Beach',
 'Pillikin Red Light area',
 'African Reef off Geraldton',
 'Off Likas Island',
 'Muriwai',
 "Ka'anapali, Honokowai, Maui",
 '"Stuart Rocks", Martin County',
 'Tapu, a dive site on the outer reefs of Bora Bora',
 'Pedro Cays',
 'Cape Nelson',
 'Noosa',
 'Bullcock Beach',
 'Kiholo Bay',
 'Great Mercury Island',
 'Near Legendre Island',
 'Between Dee Why and Long Reef',
 "Kylie's Beach, Diamond Head",
 'Kauai',
 'Green Island',
 'Sunday Cove, Fiordland',
 'Mooloolaba',
 'Nuevo Altata',
 'Makena Landing, Maui',
 "Davidson's Surf Break, Kekaha, Kaua'i",
 'Humboldt Bay, Eureka, Humboldt County',
 'Surf Beach, Lompoc, Santa Barbara County',
 'Seaport, Brevard County',
 'Hobe Sound',
 'Oboro',
 'Davenport Landing, Santa Cruz County',
 'Mullaloo Beach, Perth',
 'Spanish House Beach, Brevard County',
 'Cocoa Beach, Brevard  County',
 'Eueiki Island',
 'South Beach, Miami-Dade County',
 'Neptune Beach, Duval County',
 "St. Augustine Beach, St. John's County",
 'Spreckelsville, Maui',
 'Off the Isle of Islay',
 'Red Bluff near Quobba Station',
 'Coral Cove, Cabo de Santo Agostinho',
 'Ocean Reef',
 'Key Largo',
 'Kaukura Atoll',
 'Topanga Beach, Los Angeles County',
 'Streaky Bay',
 'Maha\x91ulepu Beach, Kauai',
 'Ballston Beach, Truro, Cape Cod',
 'Off Radix Village, Mayoro County',
 'Tofino, Vancouver',
 'Off Wedge Island',
 'North Topsail Beach, Onslow County',
 "Ship's Graveyard off Point Lonsdale",
 'Pleasure Point, Santa Cruz County',
 'Sandstrand, Jongensfontein',
 'Buccari Bay',
 'Kahana Beach, Maui',
 'South Cape Bay',
 'Bathtub Reef  Beach, Stuart, Martin County',
 'Summerland Key, Monroe County',
 'Port Campbell',
 'Muravera',
 'Redhead Beach, Newcastle',
 'Bethune Beach, Volusia County',
 'Boca de la Leña, La Unión',
 'Iroquiois Point, Oahu',
 'Matacucu Reef',
 'Leffingwell Landing, Cambria,  San Luis Obispo County',
 'Off Catalina Island',
 'Caves near Kogel Bay',
 'Dolphin Bay, Innes National Park',
 "Leftovers near Chun's Reef, Oahu",
 'Stratham Beach',
 'Kalbarri',
 "Nobby's Beach",
 'Opunake, Taranake',
 'Shipwreck Cove, Melbourne Aquarium',
 'Port de la\xa0Marine',
 'Off Duba',
 'Antofagasta',
 'Palm Beach Inlet, Palm Beach County',
 'Broughton Island',
 'Strandfontein',
 'Wurtulla',
 'Lanai',
 'Cat Island',
 'Taimali',
 'Redhead Beach',
 'Second Beach, Port St. Johns',
 'Lincoln City, Lincoln County',
 'North Avoca Beach',
 'Duranbah',
 'Jupiter, Palm Beach County',
 'Fort James Beach',
 'Barandúa Beach',
 'New Smyrna Beach',
 'Makahuena Point, Kauai',
 'Noordhoek, Port Elizabeth',
 'Angourie',
 'Between Sodwana & Cape Vidal',
 'Maroubra',
 'Seaside Cove',
 'Bushy Ilet',
 'Broken Head',
 'Tabanan',
 'Peregian',
 'Pigeon Point',
 'Pigeon Island',
 'Punta Del Chifre Beach, Olinda',
 'Sainte-Rose',
 'Marina State Beach, Monterey County',
 'Spey Bay',
 'uShaka Aquarium, Durban',
 'Newport, Lincoln County',
 'Elwood Beach',
 'Cape Canaveral',
 'Seaside',
 'Cottesloe Beach',
 'Cap La Houssaye',
 'Santa Maria Island, Manatee County',
 'Hatillo Beach',
 'Playa Jackson',
 'Clovely Beach',
 'Boucan-Canot',
 'Mama Ngina Beach, Mombasa',
 'Samoa Beach, Humboldt County',
 'Hula, near Port Moresby',
 'Nimitz State Beach, Oahu',
 'Bunker Bay',
 'Crescent Beach St. Johns County',
 'Fantome Island',
 'Grass Island, Aransas County',
 'Slavyanka',
 'Buxton Beach, Dare County',
 'Lookout Beach, near the Keurbooms river mouth in Plettenberg Bay',
 'Zheltukhin Island',
 'Kure Beach, New Hanover County',
 'Wrightsville Beach, New Hanover County',
 'Vityaz',
 'Teahupoo, Tahiti',
 'Vieques',
 'Anse Lazio',
 'Beaufort Inlet',
 'Praia do Pina',
 'Egg Harbor, Atlantic County',
 'Cintza Beach, East London',
 'Ocracoke Island, Hyde County',
 'Brisants.',
 'Off Lucaya',
 'Sunday Beach, Matagorda Island, Calhoun  County',
 'Mustang Island, Nueces County',
 'Roches Noires',
 'Libertad, San Onofre',
 'Mudjin Harbor',
 'Aliwal Shoal',
 'San Onofre State Beach, San Diego County',
 'Perdido Key, Escambia County',
 'French Cay',
 'St. Ives',
 'Off Jupiter Inlet, Palm Beach County',
 'Albuquerque Cay',
 'Palau Payar',
 "Follett's Island, Brazoria County",
 'Robberg Beach',
 'Lyman Beach, Kailua-Kona',
 'Levan Point',
 'Ponte Vedra Beach, St Johns County',
 'Kendec',
 'Miami',
 'Khor Fakkan',
 'Palm Beach',
 'Riviera Beach, Palm Beach County',
 'Red Bluffs',
 'Snapper Point',
 'Malake Island, Ra Province',
 'Matagorda Beach',
 'Gaviotas Beach, Cancun',
 'Nukudamu',
 'Jimmys Beach, Port Stephens',
 'Sharm-el-Sheikh',
 'Tallow Beach, Byron Bay',
 'Between',
 'Bay of Bweedro, Ouvéa',
 'Trois-Roches',
 'Off Perforated Island near Coffin Bay',
 'Sunshine Beach',
 'Exmouth',
 'Manzanillo, Revillagigedo Islands',
 'Sundays River Mouth, Port Elizabeth',
 'Cancun',
 'Revillagigedo Islands',
 'Cudgen Creek',
 "Second Beach, Port St. John's",
 'Xcalak',
 'Busselton',
 'Kahului, Maui',
 'Sigatoka',
 'Tavares Bay, Maui',
 'Middle Garden, Sharm el-Shiekh',
 'Ras Nasrani, Sharm el-Sheikh',
 'Coral Bay, Sharm el-Sheikh',
 'Native Dog Beach',
 'Boca Chica',
 'Between Carnac and Garden Islands',
 'Off Garden Island',
 'Cheynes Beach',
 'Florence',
 '350 miles from Faial Island',

In [1341]:
data.Location=data.Location.apply(lambda x:np.NaN if re.fullmatch('nan',str(x)) else str(x).strip())

#### Activity

In [1342]:
def group_act(x):
    activities=['Paddling', 'Playing', 'Standing', 'Surf', 'Diving', 'Swimming', 'Fishing', 'Walking', 
                'Feeding', 'Float', 'Boarding', 'Paddleboarding', 'Wading', 'Kayak', 'Snorkel']
    if re.fullmatch('nan',str(x)):
        return x
    else:
        for y in activities:
            if re.findall(y.lower(),str(x).lower()):
                return re.sub(str(x),str(y),re.sub('[\(\)\?]','',str(x)))
        return 'Other'

In [1343]:
#Categorize into common activities
data.Activity=data.Activity.apply(group_act)

In [1344]:
[x for x in data.Activity.unique()]

['Paddling',
 'Standing',
 'Surf',
 'Diving',
 'Swimming',
 'Fishing',
 'Walking',
 'Feeding',
 'Boarding',
 'Other',
 'Wading',
 'Snorkel',
 nan,
 'Kayak',
 'Float',
 'Playing']

#### Name

In [1345]:
#Regex lab nombres porpios
propios="[A-Z][a-z]*(?:\s[A-Z][a-z]*)*"

In [1346]:
len([x for x in data.Name.unique() if re.findall(propios,str(x))])

5010

In [1347]:
len([re.sub('\xa0',' ',str(x)).strip() for x in data.Name.unique() 
 if re.findall(propios,str(x)) and not 
 re.match(propios,re.sub('\xa0',' ',str(x)).strip()) and not re.findall('[oO]ccupant',str(x))])

159

In [1348]:
propios="[A-Z][A-Za-záéíóú]+\.?(?:[\s-]?(?:d[aeiou] )?[A-Z][A-Za-záéíóú]*\.?)*"
bien=[re.findall(propios,re.sub('\xa0',' ',re.sub('Occupant','',str(x)))) 
 for x in data.Name.unique() if re.findall(propios,re.sub('\xa0',' ',re.sub('Occupant','',str(x))))]

In [1349]:
bien[:32]

[['Julie Wolfe'],
 ['Adyson McNeely'],
 ['John Denges'],
 ['Gustavo Ramos'],
 ['Chris'],
 ['Jose Ernesto da Silva'],
 ['Cody High'],
 ['Trey de Boer'],
 ['Jei Turrell'],
 ['Max Berryman'],
 ['Melisa Brunning'],
 ['Adam Murray'],
 ['Matthew Lee'],
 ['Rob Bruce'],
 ['Nathan Burch'],
 ['Ahmed Rasheed'],
 ['Dylan McWilliams'],
 ['Werner Danielsen'],
 ['Pablo de Melo'],
 ['Jason Longrass'],
 ['Alejandro Travaglini'],
 ['Bruce Rowan'],
 ['Josias Paz'],
 ['Shane McConnell'],
 ['Ross Spowart'],
 ['Luke Guy', 'Finn Bald'],
 ['Rob Crossland'],
 ['Lachie Brown'],
 ['Elton Polly'],
 ['Anna Shurapey'],
 ['Brett Palmer'],
 ['Adam Hoare']]

In [1350]:
def fun_propios(x):
    propios="[A-Z][A-Za-záéíóú]+\.?(?:[\s-]?(?:d[aeiou]s? )?[A-Z][A-Za-záéíóú]*\.?)*"
    if re.fullmatch('nan',str(x)):
        return x
    else:
        if re.findall(propios,re.sub('\xa0',' ',re.sub('Occupant','',str(x)))):
            return re.findall(propios,re.sub('\xa0',' ',re.sub('Occupant','',str(x))))
        else:
            return np.NaN
def strings(x):
    if type(fun_propios(x))!=list:
        return fun_propios(x)
    else:
        if len(fun_propios(x))==1:
            return fun_propios(x)[0]
        else:
            return fun_propios(x)

In [1351]:
data.Name=data.Name.apply(strings)

#### Sex

In [1352]:
[x for x in data.Sex.unique()]

['F', 'M', nan, 'M ', 'lli', 'N', '.']

In [1353]:
data.Sex=data.Sex.apply(lambda x: x if (x=='F'or x=='M') else np.NaN)

In [1354]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 19 columns):
Case Number               6302 non-null object
Date                      5997 non-null datetime64[ns]
Year                      6174 non-null float64
Type                      6298 non-null object
Country                   6252 non-null object
Area                      5847 non-null object
Location                  5762 non-null object
Activity                  5758 non-null object
Name                      5026 non-null object
Sex                       5731 non-null object
Age                       3471 non-null object
Injury                    6274 non-null object
Fatal (Y/N)               5763 non-null object
Time                      2948 non-null object
Species                   3464 non-null object
Investigator or Source    6285 non-null object
pdf                       6302 non-null object
href                      6302 non-null object
original order            6309 non-null float64
dtypes: datetime64[ns](1), float64(2), object(16)
memory usage: 3.7+ MB

#### Age

In [1355]:
data[data.Age=='9 & 12']

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href,original order
3459,1968.08.24,1968-08-24,1968.0,Unprovoked,USA,Florida,Half mile north of Juno Beach Pier,Playing,"[Colleen Chamberlin, Scott Chamberlin]",NaN,9 & 12,"Shark bumped Colleen, the nudged Scott, then b...",N,16h00,a small hammerhead shark,"M. Vorenberg, GSAF",1968.08.24-Chamberlin.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,2844.0

In [1356]:
[age(x) for x in data.Age.unique() if re.findall('\d',str(x)) and re.findall('month',str(x).lower())]

[['1'], ['1'], ['1']]

In [1357]:
[age(x) for x in data.Age.unique() if re.findall('\d',str(x)) and re.findall('or|to',str(x).lower())]

[['18'],
 ['12'],
 ['8'],
 ['30'],
 ['33'],
 ['16'],
 ['21'],
 ['18'],
 ['25'],
 ['25'],
 ['13'],
 ['1'],
 ['7'],
 ['9'],
 ['10'],
 ['31'],
 ['13']]

In [1358]:
[x for x in data.Age.unique() if re.findall('\d',str(x)) and re.findall('-',str(x).lower())]

['mid-30s', 'mid-20s']

In [1359]:
#Check if it is baby
baby=lambda x: '1' if re.findall('month',str(x).lower()) else x
#Check if it has two posible ages
one_age=lambda x: re.findall('\d+',baby(x))[0] if re.findall('or|to',str(x).lower()) else baby(x)
#Return list of ages
age=lambda x: re.findall('\d+',one_age(x)) if re.findall('\d',str(x)) else np.NaN
def ages(x):
    if type(age(x))!=list:
        return age(x)
    else:
        if len(age(x))==1:
            return int(age(x)[0])
        else:
            return [int(x) for x in age(x)]

In [1360]:
data.Age=data.Age.apply(ages)

#### Injury

In [1361]:
[x for x in data.Injury.unique() if re.findall('fatal',str(x).lower())]

['FATAL',
 'FATAL, but death was probably due to drowning',
 'Fatal, coroner unable to determine if the diver was alive or had drowned when incident took place.',
 'Fatal',
 'FATAL, but shark involvement prior to death unconfirmed',
 'FATAL, arm bitten by shark hauled on deck             PROVOKED INCIDENT',
 'Thigh bitten, FATAL',
 'Torso & righ arm bitten FATAL',
 'FATAL    Severe bite to right thigh',
 'Leg bitten, FATAL',
 'FATAL        Only 4 of the 18 on board were rescued, some of the missing were allegedly killed by sharks',
 'FATAL,  beaten & thrown overboard by smugglers, they  were killed by sharks',
 'Presumed FATAL, body not recovered',
 'Left thigh bitten FATAL',
 'Reportedly FATAL but few details',
 'Severe bite to right leg FATAL',
 'FATAL PROVOKED INCIDENT',
 'FATAL, shark involvement prior to death is unconfirmed',
 'FATAL, leg bitten',
 'FATAL, abdomen, pelvis & leg bitten      ',
 'FATAL, leg severed ',
 'FATAL Severe wound to right thigh & calf',
 'FATAL, right thigh & hip bitten   ',
 'Presumed FATAL, severed hand recovered',
 'Fatal, drowning or scavenging.  Two hours later his body, with bite marks,  washed ashore.',
 'FATAL abdomen bitten',
 'FATAL, left thigh, buttocks, back of spine, abdomen & chest bitten  ',
 'FATAL          Hip & upper thigh bitten, femoral artery severed ',
 'FATAL, body not recovered',
 'FATAL, torso & leg bitten  ',
 'Severe kacerations, FATAL',
 'PRESUMED FATAL, body not recovered',
 'FATAL, lower thigh & knee severely lacerated ',
 'FATAL or drowning & scavenging',
 'FATAL, thigh bitten ',
 'Fatal or drowned & remains scavenged by shark',
 'FATAL, torso bitten, leg severed ',
 ' FATAL',
 'Non-fatal',
 'FATAL, legs severed  ',
 'FATAL, arm bitten ',
 'FATAL, left forearm severed  ',
 'FATAL, left thigh and lower leg severely injured  ',
 'FATAL, hands & calf bitten  ',
 'FATAL, torso & abdomen bitten, forearm severed ',
 'FATAL, arm & leg severed ',
 'Presumed fatal, no body recovered, shark mutilated wetsuit & harness recovered ',
 'Presumed fatal, only his shark-bitten speargun recovered',
 'FATAL, torso & abdomen bitten,  forearm severedL',
 'FATAL, but shark involvement prior to death was not confirmed',
 'Leg severed FATAL',
 'FATAL, head, shoulder and arm severed, remains recovered at Munglinup Beach on 9/13/1995',
 'Arm bitten, FATAL',
 'FATAL, left  leg & forearm severed',
 'FATAL, right thigh bitten, femur exposed  ',
 'FATAL, right leg severed, left leg lacerated ',
 'FATAL, hand & leg severely injured by shark that leapt into boat  ',
 'Right leg severed FATAL',
 'FATAL, right thigh bitten & femur exposed, shallow lacerations on right calf & left thigh & fingers lacerated ',
 'FATAL, right leg nearly severed, puncture wounds to left leg ',
 'FATAL  ',
 'FATAL, right foot severed',
 'FATAL, arms & legs bitten, then drowned ',
 'FATAL x 2',
 'Right leg severely lacerated  FATAL',
 'FATAL Disappeared. His board washed ashore next morning with crescent-shaped piece missing and serrated toothmarks of a shark',
 'FATAL, right leg at hip, left leg and right forearm severed  ',
 'FATAL, right arm severed  ',
 'Abdomen bitten & leg severed  FATAL',
 'FATAL, thigh bitten  ',
 'Presumed FATAL',
 'Right arm severed  FATAL',
 'Thigh bitten FATAL',
 'FATAL. His body not recovered',
 'FATAL, thigh bitten, hands lacerated  ',
 'FATAL  When James Coucom, the lone survivor, was rescued, "2 sharks were pounding on the dinghy"',
 'FATAL, thigh & hand lacerated',
 'Presumed FATAL Disappeared, his shark-bitten swim trunks were found on the seafloor',
 'FATAL, legs bitten ',
 'FATAL, but shark involvement prior to death could not be determined',
 ' Forced at gunpoint to jump overboard. Presumed fatal; shark involvement probable but not confirmed ',
 'FATAL, shark seized her by the chest and took her underwater ',
 'FATAL, shark bit leg, then dragged him underwater ',
 'FATAL, arm/shoulder severed ',
 'Legs bitten  FATAL',
 "FATAL Disappeared while diving, bathing suit & diving gear recovered bore marks of shark's teeth",
 'FATAL, torso bitten ',
 'FATAL, right calf bitten  ',
 'FATAL, disappeared, dive gear & shredded tooth-marked wetsuit were recovered',
 'Leg severed, FATAL',
 'FATAL, but shark involvement prior to death was not determined',
 'FATAL (presumed), pieces of shark-bitten wetsuit washed ashore but no body was recovered',
 'FATAL, disappeared while fishing from shore, divers recovered his hand',
 'FATAL or scavenging by 3 m tiger shark (may have involved foul play)',
 'FATAL, left arm severed, legs bitten ',
 'FATAL, left leg severed, neck cut  ',
 'FATAL, right leg bitten',
 'FATAL, disappeared while diving, lower portion of body recovered',
 "FATAL, lost consciousness at depth of 180'. Large sharks seen near partial remains of body",
 'FATAL, arms & legs bitten',
 'FATAL, of 190 passengers & crew thrown into the water, 50 people were said to have been killed by sharks',
 'Right leg  severed FATAL',
 'Foot severed FATAL',
 'Arm bitten FATAL',
 'FATAL, right leg severed  ',
 'FATAL, leg bitten ',
 'FATAL, multiple bites ',
 'FATAL, hand severed, right leg and torso bitten ',
 'FATAL, coroner\'s Verdict: "Death presumably through shark attack & drowning"',
 ' FATAL. Shark bite was minor injury, but he suffered a heart attack afterwards and died 6 hours later',
 'FATAL, left thigh bitten ',
 'FATAL, it was  thought  the surviving crew  were taken by sharks',
 'FATAL, arm severed  ',
 'FATAL, decapitated and arm severed',
 'FATAL, multiple injuries to both legs  ',
 'FATAL, left leg severed',
 'FATAL, left leg bitten, femoral artery severed  ',
 'FATAL, taken by shark  ',
 'FATAL Laceration to chest',
 'FATAL, presumed taken by a shark, body not recovered',
 'FATAL, "bitten in two"',
 'Fatal or scavenging by "a pack of sharks"',
 'FATAL, seen taken by a shark ',
 'FATAL, other human remains bitten by sharks, 13 people missing',
 'FATAL, left leg bitten thigh to calf  ',
 'FATAL, both legs severed ',
 'FATAL, left leg & right arm severed ',
 'FATAL, left arm & right leg severed ',
 'FATAL. Said to have been killed by sorcerers that turned themselves into sharks. The alleged sorcerers were taken into custody by authorities but released  due to lack of evidence. ',
 'FATAL, buttocks, lower abdomen & genitalia removed  ',
 'FATAL, torso / abdomen severely bitten  ',
 'FATAL, foot & part of other leg severed  ',
 'FATAL, thigh and abdomen bitten ',
 'FATAL, both legs bitten & right leg severed at knee ',
 'FATAL, right arm & left thigh bitten ',
 'FATAL, shoulders, arms, abdomen & foot bitten  ',
 'FATAL, arm severed, leg bitten',
 'FATAL, leg severely bitten',
 'FATAL, right thigh, calf & foot bitten ',
 'FATAL. Eyewitness said, "One was thrown in the air like a basketball, and while in the air another shark took a bite out of his belly." ',
 'FATAL, foot nearly severed ',
 'FATAL, hand severed, shoulder, hip, foot, thigh bitten & femoral artery severed  ',
 'FATAL, right femoral artery severed, thigh, calf, buttock & left hand bitten  ',
 'FATAL, right leg bitten thigh to calf  ',
 'FATAL, both legs bitten  ',
 'FATAL, he died within minutes of being hauled back onboard the Stirling Castle',
 'FATAL, lower right leg bitten',
 'FATAL, right thigh severely bitten, right ankle lacerated ',
 'FATAL, but shark involvement uncomfirmed. Death may have been due to drowning.',
 'FATAL, chest & leg bitten ',
 'FATAL, calf bitten, other leg severed below knee',
 'FATAL, calf bitten twice',
 'FATAL, tissue removed from thigh, femoral artery severed ',
 'FATAL, shoulder & thigh bitten ',
 'FATAL, right arm severed at shoulder, left hand severed, right thigh bitten & surgically amputated.  Died  day after the attack',
 'FATAL, right wrist and hand bitten, left leg severed above knee ',
 'FATAL. His body washed ashore, presumed shark attack',
 'FATAL, hand severed & legs bitten  ',
 'FATAL, hooked shark pulled him into the water PROVOKED INCIDENT',
 'FATAL, arm severed & left side of torso removed ',
 'FATAL, extensive abdominal wounds, died 4 days later  ',
 'FATAL, multiple injuries to both legs, feet & left arm  ',
 'FATAL  Shark seen attacking Riley, body recovered off Nanakuli',
 'FATAL, legs severed ',
 'FATAL, probable drowning & post mortem scavenging',
 'FATAL, severely bitten genitals & thighs ',
 'FATAL, due to drowning PROVOKED INCIDENT',
 'FATAL, right leg severed above knee, surgically amputated but died 9 days later ',
 'FATAL, foot severed, hip bitten',
 'FATAL, right leg severed',
 'FATAL, died in Lourenco Marques Hospital',
 '5 fatalities, 30 injured',
 'FATAL, leg severed, other leg lacerated ',
 'FATAL, disappeared, dive gear & clothing found with teethmarks, presumed taken by a shark  ',
 'FATAL, left thigh bitten',
 'FATAL, right thigh bitten  ',
 'FATAL X 2, 8 others missing. Survivors fought off sharks & sharks seen biting 2 of the dead. The 39 survivors were rescued by the German freighter Essen',
 'FATAL, left arm bitten, right arm partly severed, deep lacerations of left shoulder & chest ',
 'FATAL, abdomen & leg bitten ',
 'FATAL, leg severed  ',
 'FATAL, left thigh & hip bitten  ',
 'FATAL, left arm & leg severed  ',
 'FATAL  Autopsy report: bitten by shark while still alive',
 'FATAL, left arm severed ',
 'FATAL, arm severed above elbow, abdomen & leg bitten  ',
 'FATAL, back & buttocks bitten ',
 'FATAL, severe abdominal injuries ',
 'FATAL, right leg severed above knee  ',
 'FATAL, right arm broken & stripped of flesh, left hand severed above wrist, lower abdomen, buttocks & thigh bitten  ',
 'FATAL, multiple, severe injuries  ',
 'FATAL, knee bitten  ',
 'FATAL, seen with arm in mouth of shark. Body not recovered.  ',
 'FATAL, but shark involvement not confirmed',
 'FATAL, but was it an accident or infanticide?',
 'FATAL, became entangled in fishing line and pulled below the surface ',
 'FATAL, multiple injuries ',
 'FATAL, left leg severed at hip, left torso removed ',
 'FATAL, left arm, shoulder & chest bitten ',
 'FATAL, tissue removed from abdomen & thigh  ',
 'FATAL, PROVOKED INCIDENT',
 'FATAL. His brother speared a shark which then attacked Jose & severed his leg at knee. PROVOKED INCIDENT  ',
 'FATAL. Shark sank fishing boat, causing death by drowning',
 'FATAL x 6',
 'FATAL, large amount of tissue removed from leg, artery severed  ',
 'Non-fatal, treated at Misima Hospital',
 'FATAL, head & neck bitten  ',
 'FATAL, abdomen bitten  ',
 'FATAL, back lacerated, arm & leg severed  ',
 'FATAL, anterior left leg & right calf bitten, no tissue lost  ',
 'FATAL, abdomen & thigh bitten',
 "FATAL, after being bitten by shark, he was picked up by 85' trochus vessel Toorah that wrecked. His wounds reopened & he died ",
 'FATAL, abdomen, buttock, right thigh & hands bitten ',
 'FATAL, decapitated ',
 'FATAL, right thigh bitten ',
 'FATAL, thigh bitten',
 'FATAL, arm & leg severed & shark smashed at his body with its tail  ',
 'FATAL, torso bitten',
 'FATAL, disappeared while swimming, shark bite found on right side of body',
 'FATAL, leg lacerated  ',
 'FATAL, left arm severed below the elbow ',
 'FATAL & some of the survivors were bitten by sharks  ',
 'FATAL,  "No remains"',
 'FATAL, lower abdomen removed ',
 'FATAL, groin bitten ',
 'FATAL, right leg, thighs & hands bitten  ',
 'FATAL, two men survived, one succumbed to shark bite & exhaustion',
 'FATAL, leg severed, shark dragged him through hole in protective net',
 'FATAL, abdominal wounds & right leg severed at the hip  ',
 'FATAL, body not recovered Another man was also injured by the shark at same time (see below)',
 "FATAL, victim seen in shark's mouth",
 'FATAL, right thigh bitten, leg severed at knee',
 'FATAL, lower abdomen severely bitten & his left leg was severed',
 "FATAL, bitten five times. Other survivors fought off sharks for 10 hours. One survivor's arm severed by a shark.",
 'FATAL, body not recovered ',
 'Fatal or drowning or scavenging',
 'FATAL, right leg, thigh & fingers lacerated ',
 'FATAL, thigh lacerated, femur exposed ',
 'FATAL, at time of sinking several men were thrown in water & killed by sharks, survivors were rescued 3 days later by the Panamanian ship Christobel',
 'FATAL, "Nearly bitten in two through loin".',
 "FATAL. One man's abdomen removed, the other received severe multiple injuries.",
 'FATAL, disappeared while swimming  ',
 'FATAL, left hand severed, left leg arm bitten, tissue removed hip to knee  ',
 'FATAL, 2 men killed by sharks, 20 survived',
 'FATAL, left arm & left buttock severed ',
 'FATAL, right arm  severely bitten & surgically amputated, died 12 to 14 hours later   ',
 'FATAL. Womack was injured when plane went down, 3 days later he fell off liferaft & was taken by a shark  ',
 'FATAL, right thigh & leg bitten ',
 'FATAL, leg severed at knee  ',
 'FATAL, calf bitten, leg surgically amputated  ',
 'FATAL, right arm severed',
 'FATAL, left leg severed, right leg injured  ',
 'FATAL, large gash to thigh',
 'FATAL, both were killed by sharks',
 'FATAL. His back was bitten as he was being towed to ship by rescuer, Lieut (j.g.) Stanley Kurta, then the shark pulled him below the surface. ',
 'FATAL, left thigh & calf bitten  ',
 'FATAL, right thigh lacerated, femoral artery severed ',
 'FATAL, leg bitten knee to ankle & posterior tibial artery severed; died of toxemia 2 days later ',
 'FATAL            Arm severed',
 'FATAL, abdomen, buttock & thigh lacerated  ',
 'FATAL, left leg  & shoulder bitten  ',
 'FATAL, right leg & left thigh bitten  ',
 'FATAL, thigh lacerated, both calves bitten  ',
 'Of the 1346 on board, 392 perished including 90 women & 44 crew. 1 person known to have been fatally injured by a shark.',
 '33 crew & 92 passengers were lost, it was thought that some were killed by sharks  FATAL',
 'FATAL, 2 of the 9 airmen killed by sharks',
 'FATAL Arm bitten',
 'FATAL, bitten in two  ',
 'Leg lacerated FATAL',
 'FATAL, both arms bitten ',
 'FATAL, injuries to lower back ',
 'FATAL, multiple injuries to legs & buttocks ',
 'FATAL, right thigh & calf bitten ',
 'FATAL, left thigh & knee bitten ',
 'FATAL, injuries to both arms  ',
 'FATAL, left leg severed  ',
 'FATAL, leg & thigh bitten  ',
 'FATAL, left foot & right leg bitten, later surgically amputated  ',
 'FATAL, attacked by shark, body not recovered ',
 'FATAL, leg severed just below hip ',
 'FATAL.',
 'Fatal, lower abdomen bitten',
 'FATAL, thought to have been taken by a shark ',
 'FATAL, dragged out of diving helmet  ',
 'FATAL x 2, all other passengers & crew reached shore after a long swim',
 'FATAL, pulled overboard by tuna, & bitten by shark ',
 '2 survived,       1 FATAL',
 'FATAL ',
 'FATAL, left arm severed at elbow, right arm bitten, right leg severed at knee    ',
 'FATAL, buttocks, ankle & right elbow bitten ',
 'FATAL, leg severed at knee',
 "FATAL, his 2.4 m dinghy was found with 2' x 3' hole in its side & tooth fragments embedded in the planking",
 'FATAL, finger severed, thigh bitten He died during the surgical amputation of his leg   ',
 'FATAL, taken by shark, body not recovered. Twenty months later, in October 1937, meshing (setting anti-shark gill nets) began  at metropolitan beaches',
 'FATAL. His body was not recovered, but about 3 weeks later 2 sharks were caught with human remains, thought to be those of Quinn',
 'FATAL, right buttock & thigh bitten ',
 'Although listed as an uprovoked fatal attack by SAF, shark bite on his ankle was post-mortem following death by drowning',
 'Although listed as  an uprovoked fatal attack by SAF, he was killed by the explosion. The shark bites were post-mortem ',
 'FATAL, left thigh, buttock, left forearm bitten, finger removed  ',
 'FATAL, left leg bitten ',
 'FATAL, forearm lacerated & surgically amputated, but died of gas gangrene 13 days afterwards ',
 'Reported  to be FATAL and involve a 6m white shark, but found to be a false report; there was no attack',
 'FATAL, body was not recovered',
 'FATAL, right leg lacerated',
 'FATAL, leg & buttocks removed ',
 'Severe abdominal wounds FATAL (Note: 14 days earlier a dog was bitten in two by a large shark)',
 'FATAL, died next day at 03h00',
 'FATAL  (Wire netting installed at local beaches after this incident.)',
 'FATAL, right leg bitten ',
 'FATAL, "rescuers saw shark trying to drag him under by the leg" ',
 'FATAL, left thigh severely bitten ',
 'FATAL, thereafter canoes were used to carry the mail',
 'FATAL, left arm severed above elbow, lacerations on chest, right thumb severed, left thigh lacerated to bone, abrasions  ',
 'FATAL, severe injuries to both legs ',
 'FATAL, both thighs lacerated, right foot, fingers and knee abraded, died of sepsis',
 'FATAL, right thigh bitten, femoral artery severed',
 'FATAL, right buttock lacerated, left arm severed above elbow,  right forearm severed by shark, both arms surgically amputated',
 'FATAL, right thigh & hip bitten',
 'FATAL, hand severed, both legs & arms bitten & nearly severed ',
 'FATAL, multiple injuries including evisceration, 3 fractures of right arm, 5 fingers  & leg severed below knee',
 'FATAL, right hand severed, large lacerations on thigh',
 'FATAL, presumed taken by shark/s',
 'FATAL, leg bitten  ',
 'FATAL, leg bitten from thigh to ankle',
 'FATAL, shoulder bitten ',
 'FATAL, abdomen bitten',
 'FATAL, gave sudden shriek & disappeared, body found in shark caught off Kahuka',
 'FATAL, femoral artery severed ',
 'FATAL, thigh  & torso bitten, then shark charged rescue boat ',
 'FATAL, right forearm severed, lacerations from buttocks to heel L',
 'FATAL, partial remains recovered ',
 'FATAL, right thigh severely bitten, left arm lacerated ',
 'FATAL, disappeared, thought to have been taken by a shark ',
 'FATAL, disappeared, partial remains of Selim was found, there was no trace of Dea Opre',
 'non-fatal',
 'FATAL, taken by shark. Two other men drowned,  only 1 man survived',
 'FATAL, back of thigh bitten ',
 'FATAL, abdomen severely bitten. Airplane summoned from Corregidor & injured man was lashed to wing, but he died  ',
 'FATAL, hip & thigh bitten with  tissue removed, including bone ',
 'FATAL, severe injuries to torso  ',
 'FATAL, arm severed, thigh severely bitten  ',
 'FATAL, right leg severed at thigh ',
 'FATAL, right hand severed, lacerations on left thigh & left hand, died in hospital of gas gangrene',
 'FATAL, both arms & shoulder bitten',
 'FATAL, disappeared, then his shark-bitten remains washed ashore ',
 'FATAL, disappeared, body not recovered',
 'Left thigh bitten, FATAL',
 'FATAL, abdomen  severely lacerated, taken by seaplane to hospital in Corrigedor but died  ',
 'FATAL, large wound on thigh',
 'Leg bitten. FATAL',
 'FATAL, left leg & calf bitten, leg surgically amputated ',
 'FATAL, 6 men were taken by sharks as they neared the beach, 1 survived',
 'FATAL, thigh bitten, leg amputated ',
 'FATAL, "men snatched from rafts by sharks"   ',
 'FATAL, only 1 survivor',
 'FATAL, abdominal cavity removed ',
 'FATAL, right arm severed, chest punctured ',
 'FATAL, leg severely bitten, surgically amputated PROVOKED INCIDENT',
 'FATAL, legs & torso bitten ',
 'FATAL.  When the survivors were rescued next day they were clubbing sharks with oars. "Sharks were so thick that it was difficult to row"',
 'FATAL, left leg bitten',
 'Fatal, drowning or scavenging',
 'FATAL, partial remains recovered',
 'FATAL?',
 'FATAL, 3 passengers & 14 crew taken by sharks, captain, 1 passenger & 2 crew survived',
 'FATAL, 101 people perished, including commander, Joseph Couailhac. Iit was reported that a \x93shoal of sharks circled  passengers in the water and dragged scores of people to their deaths\x94 Of the 61 survivors, many were injured by sharks',
 'FATAL, only his legs, still in sea-boots, were recovered ',
 'FATAL, lost a leg',
 'FATAL, "pulled below the surface\'  ',
 'FATAL, shark bit his side, nearly cutting him in two  ',
 'FATAL,            Fell overboard and were killed by shark',
 'FATAL, leg severely bitten     ',
 'FATAL, hips & thigh bitten ',
 'FATAL, left torso, buttocks, thigh & foot bitten ',

In [1362]:
#fill 'Fatal (Y/N) where injury gives info'
non_fatal=[x for x in data.Injury.unique() if re.findall('non-fatal',str(x).lower()) or 
           re.findall('(?:no|minor) injury',str(x).lower())]
non_fatal_index=[x for x in data[data.Injury.apply(lambda x:1 if x in non_fatal else 0)==1].index]
fatal_injury=[x for x in data.Injury.unique() if re.findall('fatal',str(x).lower()) and not x in non_fatal]
fatal_index=[x for x in data[data.Injury.apply(lambda x:1 if x in fatal_injury else 0)==1].index]

In [1363]:
for x in non_fatal_index:
    data.set_value(x,'Fatal (Y/N)','N')
for x in fatal_index:
    data.set_value(x,'Fatal (Y/N)','Y')

C:\Users\Usuario_Asignado\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

C:\Users\Usuario_Asignado\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  after removing the cwd from sys.path.

In [1364]:
data.Type.unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', nan, 'Boat', 'Boatomg'], dtype=object)

In [1365]:
quest_inc=[x for x in data.Injury.unique() if re.search('incident',str(x).lower()) 
           and re.search('doubtful|questionable',str(x).lower())]
quest_index=[x for x in data[data.Injury.apply(lambda x:1 if x in quest_inc else 0)==1].index]
provoked_inc=[x for x in data.Injury.unique() if re.search('provoked incident',str(x).lower()) and not x in quest_inc]
provoked_index=[x for x in data[data.Injury.apply(lambda x:1 if x in provoked_inc else 0)==1].index]

In [1366]:
for x in quest_index:
    data.set_value(x,'Type','Questionable')
for x in provoked_index:
    data.set_value(x,'Type','Provoked')

C:\Users\Usuario_Asignado\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

C:\Users\Usuario_Asignado\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  after removing the cwd from sys.path.

#### Fatal (Y/N)

In [1367]:
[x for x in data['Fatal (Y/N)'].unique()]

['N', 'Y', nan, 'M', 'UNKNOWN', '2017', ' N', 'N ']

In [1368]:
data['Fatal (Y/N)']=data['Fatal (Y/N)'].apply(lambda x:'N' if re.findall('N',str(x)) else 'Y' if re.findall('Y',str(x)) else np.NaN)

#### Time

In [1369]:
[x for x in data.Time.unique() if re.findall('\dh',re.sub('j','h',str(x)).replace(':','h'))]

['18h00',
 '14h00  -15h00',
 '07h45',
 '17h00',
 '14h00',
 '15h00',
 '08h15',
 '11h00',
 '10h30',
 '10h40',
 '16h50',
 '07h00',
 '09h30',
 '21h50',
 '09h40',
 '08h00',
 '17h35',
 '15h30',
 '07h30',
 '19h00, Dusk',
 '16h00',
 '15h01',
 '12h00',
 '13h45',
 '23h30',
 '09h00',
 '14h30',
 '18h30',
 '12h30',
 '16h30',
 '18h45',
 '06h00',
 '10h00',
 '10h44',
 '13h19',
 '13h30',
 '10h45',
 '11h20',
 '11h45',
 '19h30',
 '08h30',
 '15h45',
 'Shortly before 12h00',
 '17h34',
 '17h10',
 '11h15',
 '08h50',
 '17h45',
 '13h00',
 '10h20',
 '13h20',
 '02h00',
 '09h50',
 '11h30',
 '17h30',
 '9h00',
 '10h43',
 '15h15',
 '15h40',
 '19h05',
 '14h30 / 15h30',
 '22h00',
 '16h20',
 '14h34',
 '15h25',
 '14h55',
 '17h46',
 '15h49',
 '19h00',
 '09h30 / 10h00',
 '10h15',
 '18h15',
 '04h00',
 '14h50',
 '13h50',
 '19h20',
 '10h25',
 '10h45-11h15',
 '16h45',
 '15h52',
 '06h15',
 '14h40',
 '19h45',
 '10h10',
 '08h45',
 '12h10',
 '18h05',
 '11h41',
 '12h25',
 '17h51',
 '16h12',
 '12h45',
 '10h50',
 '14h15',
 '09h45',
 '06h45',
 '05h00',
 '03h30',
 'Sometime between 06h00 & 08hoo',
 '06h30',
 '17h20',
 '20h00',
 '16h40',
 '16h18',
 '11h10',
 '17h50',
 '07h00 - 08h00',
 '18h15-18h30',
 '17h01',
 '09h57',
 '08h20',
 '17h58',
 '20h30',
 '15h19',
 '10h55',
 '15h55',
 '23h00',
 '12h40',
 '13h55',
 '16h05',
 '14h10',
 '15h20',
 '12h50',
 '14h45',
 '13h40',
 '13h24',
 '09h00 - 09h30',
 '11h40',
 '08h10',
 '15h56',
 '14h20',
 '07h56',
 '17h17',
 '16h35',
 '09h05',
 '07h15',
 '07h20',
 '19h28',
 '12h38',
 '05h50',
 '15h50',
 '11h05',
 '05h45',
 '13h25',
 '12h20',
 '13h26',
 '09h11',
 '12h15',
 '13h15',
 '18h20',
 '15h35',
 '13h51',
 '08h05',
 '19h15',
 '10h35',
 '15h44',
 '21h00',
 '15j45',
 '09h35',
 '10h27',
 '10h16',
 'Before 07h00',
 '09h20',
 '10h00 -- 11h00',
 '12h05',
 '14h21',
 '18h50',
 '15h53',
 '"Just before 11h00"',
 '11h115',
 '13h42',
 '20h15',
 '12h39',
 '07h05',
 '13h05',
 '11h50',
 '17h55',
 '22h30',
 '17h15',
 '16h10',
 '11h30 ',
 '06h10',
 '16h15',
 'Between 05h00 and 08h00',
 '07h08',
 '17h00 or 17h40',
 '03h00',
 '>08h00',
 '12h02',
 '12h55',
 '16h14',
 '17h11',
 '00h30',
 '14h37',
 '10h07',
 '13h53',
 '11h55',
 '13h23',
 'Just after 12h00',
 '02h30',
 '08h40',
 '11h56',
 '14h35',
 '07h50',
 '14h25',
 '13h345',
 '06h47',
 '09h00 -10h00',
 '20h45 (Sunset)',
 '18h40',
 '13h14',
 '13h06',
 'Shortly before 13h00',
 '12h34',
 '11h53',
 '8:04 pm',
 '12h46',
 '12h48',
 '17h42',
 '12h35',
 '11h57',
 '17h40',
 '11h25',
 '18h25',
 '10h28',
 '09h15',
 '14h16',
 '09h55',
 '15h05',
 '09h30 ',
 '11h48',
 '11h00 / 11h30',
 '07h19',
 '13h37',
 '11h06',
 '18h30?',
 '11h58',
 '11h51',
 '18h12',
 '07h10',
 '07h40',
 '12h33',
 '>06h45',
 '15h06',
 '12h54',
 'Between 06h00 & 07h20',
 '16h55',
 '05h40',
 '<07h30',
 '21h30',
 '17h00 Sunset',
 '08h57',
 '18h30 (Sunset)',
 '06j00',
 '08h35',
 '10h22',
 '02h45',
 'Prior to 10h37',
 '18h10',
 '>12h00',
 '08h55',
 '16h30 or 18h00',
 ' 14h00',
 '06h50',
 '01h00',
 '10h00 / 11h00',
 '07h32',
 '15h00 or 15h45',
 '>17h00',
 '19h00 / 20h00',
 '12h45 / 13h45',
 '14h00 - 15h00',
 '03h45 - 04h00',
 '13h10',
 '09h30 / 15h30',
 '08h00 / 09h30',
 '19h35',
 '12h00 to 14h00',
 '13h35',
 '01h32',
 '10h30 or 13h30',
 '16h23',
 '15h00j',
 '10h00 or 14h00',
 '19h10',
 '16h25',
 '18h15 to 21h30',
 '>17h30',
 '>14h30',
 'Between 11h00 & 12h00',
 'After 04h00',
 '11h01 -time of ship sinking',
 'Ship aban-doned at 03h10',
 '19h55',
 '01h30',
 '05h30',
 '08h58',
 'Before 10h30',
 '06h00 -- 07h00',
 '01h50',
 '17h00-18h00',
 '19h00-20h00']

In [1370]:
def error_dedo(x):
    if type(x)!=str:
        return x
    else:
        x=re.sub('j','h',x)
        x=re.sub(':','h',x)
        if re.fullmatch('\d{4}',x):
            x=x[:2]+'h'+x[2:]
        if re.findall('\d\dh\d\d',x):
            return re.findall('\d\dh\d\d',x)[0]
        else:
            return np.NaN

In [1371]:
data.Time=data.Time.apply(error_dedo)

#### Species

In [1372]:
data.Type.unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', nan, 'Boat', 'Boatomg'], dtype=object)

In [1373]:
quest_att=[x for x in data.Species.unique() if re.search('questionable',str(x).lower()) 
           and (re.search('incident|involvement',str(x).lower()) or re.fullmatch('questionable',str(x).lower()))]
quest_att_index=[x for x in data[data.Species.apply(lambda x:1 if x in quest_att else 0)==1].index]
#invalid_att=[x for x in data.Species.unique() if re.findall('invalid',str(x).lower())]
#invalid_index=[x for x in data[data.Species.apply(lambda x:1 if x in invalid_att else 0)==1].index]

In [1374]:
(data.iloc[invalid_index].Type!='Invalid').sum()

0

In [1375]:
for x in quest_att_index:
    data.set_value(x,'Type','Questionable')

C:\Users\Usuario_Asignado\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [1376]:
filtro=[x for y in species for x in data.Species.unique() if re.findall(y.lower(),str(x).lower())]

In [1377]:
def shark_species(x):
    species=['White','Tiger','Lemon','Bull','Pointer','Reef','Nurse','Wobbegong','Blacktip','Cookiecutter',
             'Blue','Hammerhead','Mako','Bronze whaler','Angel','Spinner','Cow','Silky','Goblin','Raggedtooth']
    if type(x)!=str:
        return x
    else:
        for y in species:
            if re.findall(y.lower(),x.lower()):
                return y
        return np.NaN

In [1378]:
data.Species=data.Species.apply(shark_species)

#### PDF

In [1379]:
def count_double(i):
    if re.findall(str(data.iloc[i].pdf),str(data.iloc[i].href)):
        return 1
    return 0

In [1380]:
#Max diff values
25723-sum(list(map(count_double,range(25723))))

33

In [1381]:
data.drop('pdf', axis=1,inplace=True)

In [1382]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 18 columns):
Case Number               6302 non-null object
Date                      5997 non-null datetime64[ns]
Year                      6174 non-null float64
Type                      6298 non-null object
Country                   6252 non-null object
Area                      5847 non-null object
Location                  5762 non-null object
Activity                  5758 non-null object
Name                      5026 non-null object
Sex                       5731 non-null object
Age                       3441 non-null object
Injury                    6274 non-null object
Fatal (Y/N)               5906 non-null object
Time                      2374 non-null object
Species                   1761 non-null object
Investigator or Source    6285 non-null object
href                      6302 non-null object
original order            6309 non-null float64
dtypes: datetime64[ns](1), float64(2), object(15)
memory usage: 3.5+ MB

#### href

In [1383]:
[x for x in data.href.unique() if not re.findall('http',str(x))]

['pdf_directory2014.01.04-Riano.pdf ', nan]

In [1384]:
[x for x in data.href.unique() if str(x).strip()=='pdf_directory2014.01.04-Riano.pdf']

['pdf_directory2014.01.04-Riano.pdf ']

In [1385]:
broken=lambda x: 'http://sharkattackfile.net/spreadsheets/pdf_directory/2014.01.04-Rianto.pdf' if str(x).strip()=='pdf_directory2014.01.04-Riano.pdf' else x

In [1386]:
data.href=data.href.apply(broken)

#### Original Order

In [1387]:
#Useless columns
data['original order'].head()

0    6303.0
1    6302.0
2    6301.0
3    6300.0
4    6299.0
Name: original order, dtype: float64

In [1388]:
data.drop('original order',axis=1,inplace=True)

In [1389]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 17 columns):
Case Number               6302 non-null object
Date                      5997 non-null datetime64[ns]
Year                      6174 non-null float64
Type                      6298 non-null object
Country                   6252 non-null object
Area                      5847 non-null object
Location                  5762 non-null object
Activity                  5758 non-null object
Name                      5026 non-null object
Sex                       5731 non-null object
Age                       3441 non-null object
Injury                    6274 non-null object
Fatal (Y/N)               5906 non-null object
Time                      2374 non-null object
Species                   1761 non-null object
Investigator or Source    6285 non-null object
href                      6302 non-null object
dtypes: datetime64[ns](1), float64(1), object(15)
memory usage: 3.3+ MB

In [1390]:
data.shape

(25723, 17)

In [1391]:
#Empty rows
data[data[[x for x in data.columns]].isnull().sum(axis=1)==data.shape[1]].head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,href
6302,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6303,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6304,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6305,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6306,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1392]:
data.drop(data[data[[x for x in data.columns]].isnull().sum(axis=1)==data.shape[1]].index,inplace=True)

In [1393]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6302 entries, 0 to 6301
Data columns (total 17 columns):
Case Number               6302 non-null object
Date                      5997 non-null datetime64[ns]
Year                      6174 non-null float64
Type                      6298 non-null object
Country                   6252 non-null object
Area                      5847 non-null object
Location                  5762 non-null object
Activity                  5758 non-null object
Name                      5026 non-null object
Sex                       5731 non-null object
Age                       3441 non-null object
Injury                    6274 non-null object
Fatal (Y/N)               5906 non-null object
Time                      2374 non-null object
Species                   1761 non-null object
Investigator or Source    6285 non-null object
href                      6302 non-null object
dtypes: datetime64[ns](1), float64(1), object(15)
memory usage: 886.2+ KB

In [1394]:
#check columns with more nulls
#Species and time may be droppable
(data.isnull().sum()/data.shape[0]).sort_values(ascending=False)

Species                   0.720565
Time                      0.623294
Age                       0.453983
Name                      0.202475
Sex                       0.090606
Activity                  0.086322
Location                  0.085687
Area                      0.072199
Fatal (Y/N)               0.062837
Date                      0.048397
Year                      0.020311
Country                   0.007934
Injury                    0.004443
Investigator or Source    0.002698
Type                      0.000635
href                      0.000000
Case Number               0.000000
dtype: float64

In [1395]:
data.columns=['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
              'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal', 'Time',
              'Species', 'Investigator or Source', 'Pdf']

In [1396]:
data[['Date','Year','Time']].head()

        Date    Year   Time
0 2018-06-25  2018.0  18h00
1 2018-06-18  2018.0  14h00
2 2018-06-09  2018.0  07h45
3 2018-06-08  2018.0    NaN
4 2018-06-04  2018.0    NaN

In [1397]:
#Year can be obtained from date
data.drop('Year',axis=1,inplace=True)

In [1398]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6302 entries, 0 to 6301
Data columns (total 16 columns):
Case Number               6302 non-null object
Date                      5997 non-null datetime64[ns]
Type                      6298 non-null object
Country                   6252 non-null object
Area                      5847 non-null object
Location                  5762 non-null object
Activity                  5758 non-null object
Name                      5026 non-null object
Sex                       5731 non-null object
Age                       3441 non-null object
Injury                    6274 non-null object
Fatal                     5906 non-null object
Time                      2374 non-null object
Species                   1761 non-null object
Investigator or Source    6285 non-null object
Pdf                       6302 non-null object
dtypes: datetime64[ns](1), object(15)
memory usage: 837.0+ KB

In [1399]:
data[['Country','Area','Location']].head()

     Country             Area                        Location
0        USA       California     Oceanside, San Diego County
1        USA          Georgia  St. Simon Island, Glynn County
2        USA           Hawaii                    Habush, Oahu
3  AUSTRALIA  New South Wales              Arrawarra Headland
4     MEXICO           Colima                        La Ticla

In [1400]:
data[['Injury','Fatal']].head()

                                              Injury Fatal
0  No injury to occupant, outrigger canoe and pad...     N
1                         Minor injury to left thigh     N
2       Injury to left lower leg from surfboard skeg     N
3                          Minor injury to lower leg     N
4  Lacerations to leg & hand shark PROVOKED INCIDENT     N

In [1401]:
data=data[['Case Number', 'Investigator or Source', 'Date', 'Time', 'Country', 'Area', 'Location',
           'Name', 'Sex', 'Age', 'Activity', 'Type', 'Species', 'Injury', 'Fatal', 'Pdf']]

In [1402]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6302 entries, 0 to 6301
Data columns (total 16 columns):
Case Number               6302 non-null object
Investigator or Source    6285 non-null object
Date                      5997 non-null datetime64[ns]
Time                      2374 non-null object
Country                   6252 non-null object
Area                      5847 non-null object
Location                  5762 non-null object
Name                      5026 non-null object
Sex                       5731 non-null object
Age                       3441 non-null object
Activity                  5758 non-null object
Type                      6298 non-null object
Species                   1761 non-null object
Injury                    6274 non-null object
Fatal                     5906 non-null object
Pdf                       6302 non-null object
dtypes: datetime64[ns](1), object(15)
memory usage: 837.0+ KB

In [1403]:
#Add time to date
index=[i for i in data.index if not data.Date.isnull()[i] and not data.Time.isnull()[i]]

In [1404]:
pd.to_datetime(re.sub('\d{2}:\d{2}:',data.iloc[2].Time[:2]+':'+data.iloc[2].Time[3:]+':',
                                                  str(data.iloc[2].Date)))

Timestamp('2018-06-09 07:45:00')

In [1405]:
for i in index:
    try:
        data.set_value(i,'Date',pd.to_datetime(re.sub('\d{2}:\d{2}:',data.iloc[i].Time[:2]+':'+data.iloc[i].Time[3:]+':',
                                                  str(data.iloc[i].Date))))
    except:
        print(i)

C:\Users\Usuario_Asignado\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  after removing the cwd from sys.path.

In [1406]:
data.Date.head()

0   2018-06-25 18:00:00
1   2018-06-18 14:00:00
2   2018-06-09 07:45:00
3   2018-06-08 00:00:00
4   2018-06-04 00:00:00
Name: Date, dtype: datetime64[ns]

In [1407]:
data.drop('Time',axis=1,inplace=True)

In [1408]:
#Age type is object becaus some entries are list of ages 
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6302 entries, 0 to 6301
Data columns (total 15 columns):
Case Number               6302 non-null object
Investigator or Source    6285 non-null object
Date                      5997 non-null datetime64[ns]
Country                   6252 non-null object
Area                      5847 non-null object
Location                  5762 non-null object
Name                      5026 non-null object
Sex                       5731 non-null object
Age                       3441 non-null object
Activity                  5758 non-null object
Type                      6298 non-null object
Species                   1761 non-null object
Injury                    6274 non-null object
Fatal                     5906 non-null object
Pdf                       6302 non-null object
dtypes: datetime64[ns](1), object(14)
memory usage: 947.8+ KB

In [1410]:
dummies=pd.get_dummies(data[['Sex','Activity','Type','Species','Fatal']])

In [1415]:
data=pd.concat([data,dummies],axis=1)

In [1417]:
#Drop Sex,Activity,Type,Species,Fatal??
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6302 entries, 0 to 6301
Data columns (total 62 columns):
Case Number               6302 non-null object
Investigator or Source    6285 non-null object
Date                      5997 non-null datetime64[ns]
Country                   6252 non-null object
Area                      5847 non-null object
Location                  5762 non-null object
Name                      5026 non-null object
Sex                       5731 non-null object
Age                       3441 non-null object
Activity                  5758 non-null object
Type                      6298 non-null object
Species                   1761 non-null object
Injury                    6274 non-null object
Fatal                     5906 non-null object
Pdf                       6302 non-null object
Sex_F                     6302 non-null uint8
Sex_M                     6302 non-null uint8
Activity_Boarding         6302 non-null uint8
Activity_Diving           6302 non-null uint8
Activity_Feeding          6302 non-null uint8
Activity_Fishing          6302 non-null uint8
Activity_Float            6302 non-null uint8
Activity_Kayak            6302 non-null uint8
Activity_Other            6302 non-null uint8
Activity_Paddling         6302 non-null uint8
Activity_Playing          6302 non-null uint8
Activity_Snorkel          6302 non-null uint8
Activity_Standing         6302 non-null uint8
Activity_Surf             6302 non-null uint8
Activity_Swimming         6302 non-null uint8
Activity_Wading           6302 non-null uint8
Activity_Walking          6302 non-null uint8
Type_Boat                 6302 non-null uint8
Type_Boating              6302 non-null uint8
Type_Boatomg              6302 non-null uint8
Type_Invalid              6302 non-null uint8
Type_Provoked             6302 non-null uint8
Type_Questionable         6302 non-null uint8
Type_Sea Disaster         6302 non-null uint8
Type_Unprovoked           6302 non-null uint8
Species_Angel             6302 non-null uint8
Species_Blacktip          6302 non-null uint8
Species_Blue              6302 non-null uint8
Species_Bronze whaler     6302 non-null uint8
Species_Bull              6302 non-null uint8
Species_Cookiecutter      6302 non-null uint8
Species_Cow               6302 non-null uint8
Species_Goblin            6302 non-null uint8
Species_Hammerhead        6302 non-null uint8
Species_Lemon             6302 non-null uint8
Species_Mako              6302 non-null uint8
Species_Nurse             6302 non-null uint8
Species_Pointer           6302 non-null uint8
Species_Raggedtooth       6302 non-null uint8
Species_Reef              6302 non-null uint8
Species_Silky             6302 non-null uint8
Species_Spinner           6302 non-null uint8
Species_Tiger             6302 non-null uint8
Species_White             6302 non-null uint8
Species_Wobbegong         6302 non-null uint8
Fatal_N                   6302 non-null uint8
Fatal_Y                   6302 non-null uint8
dtypes: datetime64[ns](1), object(14), uint8(47)
memory usage: 1.2+ MB

In [1420]:
data.to_csv('clean_attacks.csv',index=False)